%article.pvert4{ role: "content" }
  %header.mb2
    %h1.h2.mb1
      %a{href: "#"} Article title
      %hr
    %h4.light
      April 1, 2014
      by
      %a{href: "#"} Sidney Crosby
  %p "To the Emerald City," said Dorothy, "to see the Great Oz."

  %p "Oh, indeed!" exclaimed the man.  "Are you sure that Oz will see you?"

  %p "Why not?" she replied.

  %p "Why, it is said that he never lets anyone come into his presence.  I have been to the Emerald City many times, and it is a beautiful and wonderful place; but I have never been permitted to see the Great Oz, nor do I know of any living person who has seen him."
  %img.img.left.scale10{src: "http://placekitten.com/g/500/300"}

  %p "I could tell you my adventures&mdash;beginning from this morning," said  Alice a little timidly: "but it's no use going back to yesterday,  because I was a different person then."

  %p "Explain all that," said the Mock Turtle.

  %p "No, no! The adventures first," said the Gryphon in an impatient tone:  "explanations take such a dreadful time."

  %img.img.m2{src: "http://placekitten.com/g/600/400"}

  %p So Alice began telling them her adventures from the time when she first  saw the White Rabbit. She was a little nervous about it just at first,  the two creatures got so close to her, one on each side, and opened  their eyes and mouths so VERY wide, but she gained courage as she went  on. Her listeners were perfectly quiet till she got to the part about  her repeating "YOU ARE OLD, FATHER WILLIAM," to the Caterpillar, and the  words all coming different, and then the Mock Turtle drew a long breath,  and said "That's very curious."