#carousel-example-generic.carousel.slide.overflow-none.scale30.scale20-md.scale15-sm.scale10-xs{ data:{ ride: "carousel", interval: false } }
  / Indicators
  %ol.carousel-indicators
    %li.active{ "data-slide-to" => "0", "data-target" => "#carousel-example-generic" }
    %li{ "data-slide-to" => "1", "data-target" => "#carousel-example-generic" }
    %li{ "data-slide-to" => "2", "data-target" => "#carousel-example-generic" }
  / Wrapper for slides
  .carousel-inner
    .item.active
      %img.img{alt:"hero kitten", src: "http://placekitten.com/g/1400/900"}

      .carousel-caption
        Garbage 1
    .item
      %img.img{alt:"hero kitten", src: "http://placekitten.com/g/1400/900"}
      .carousel-caption
        Garbage 2
    .item
      %img.img{alt:"hero kitten", src: "http://placekitten.com/g/1400/900"}
      .carousel-caption
        Garbage 3
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
    %span.fa.fa-chevron-left.icon-prev
  %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
    %span.fa.fa-chevron-right.icon-next