%head
  %title Humble Kit
  %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
  = stylesheet_link_tag "application", media: "all"
  %link{ href:"//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel: "stylesheet" }
  %link{ href: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700", rel: "stylesheet", type: "text/css" }
  = javascript_include_tag "application"
  %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
  = csrf_meta_tags
  = favicon_link_tag 'favicon.ico'
