.skin-gray-lightest
  .container
    %nav{ role: "navigation" }
      %p.left.line3.dark.text-c-xs HTML layouts navigation:
      %ul.list-inline.list-nav.m0
        %li.m0= link_to 'Blog-like Layout', page_path('html_layout_blog'), class:"btn btn-sm btn-link m0 px2 text-l-xs"
        %li.m0= link_to 'Marketing-like Layout', page_path('html_layout_marketing'), class:"btn btn-sm btn-link m0 px2 text-l-xs"
