.skin-gray-lightest
  .container
    %nav{ role: "navigation" }
      %p.left.line4.text-dark HTML layouts navigation:
      %ul.list-inline.m0
        %li.m0= link_to 'Blog-like Layout', page_path('html_layout_blog'), class:"btn btn-link m0 phoriz2"
