%li.m0= link_to 'Typography Test', page_path('type_test'), class:"btn btn-sm btn-link btn-link-dark link-secondary m0 px2 text-l-xs"
%li.m0= link_to 'Grid', page_path('grid'), class:"btn btn-sm btn-link btn-link-dark link-secondary m0 px2 text-l-xs"
%li.m0= link_to 'Html test layouts', page_path('html_test'), class:"btn btn-sm btn-link link-secondary btn-link-dark m0 px2 text-l-xs"
%li.m0= link_to 'Forms', page_path('forms'), class:"btn btn-sm btn-link btn-link-dark link-secondary m0 px2 text-l-xs"