%nav.skin-gray-darkest.pos-rel.z10{ role: "navigation" }
  .container
    %ul.list-inline.list-nav.m0.hide_gtxs
      %li.m0
        %a.btn.btn-link.btn-link-dark.link-secondary.m0.phoriz2.text-r-xs{ href: "#", data: { target: "#nav_mobile", toggle: "collapse" } }
          %span.fa.fa-bars
    %ul#nav_mobile.list-inline.list-nav.m0.collapse.hide_gtxs
      = render "layouts/shared/nav_links"

    %ul.list-inline.list-nav.m0.hide_xs
      = render "layouts/shared/nav_links"
