%li.m0= link_to 'Typography', page_path('typography'), class:"btn btn-sm btn-link btn-link-dark light m0 px2 text-l-xs round-none"
%li.m0= link_to 'Structure', page_path('structure'), class:"btn btn-sm btn-link btn-link-dark light m0 px2 text-l-xs round-none"
%li.m0= link_to 'Elementary', page_path('html_test'), class:"btn btn-sm btn-link light btn-link-dark m0 px2 text-l-xs round-none"