%ul.list-inline.m0.text-c
  %li.m0
    %span.pvert1_2.phoriz1.skin._gray-dark.rounded._sm h
    to toggle baseline.
  %li.m0
    %span.pvert1_2.phoriz1.skin._gray-dark.rounded._sm j
    to toggle grid debug.
  %li.m0
    %span.pvert1_2.phoriz1.skin._gray-dark.rounded._sm k
    to toggle this help on/off.