%ul.list-inline.m0.text-c
  %li.m0
    %span.pyhalf.px1.skin-gray-darkest.round-sm.js-container-width.light
  %li.m0
    %span.pyhalf.px1.skin-gray-soft.round-sm h
    to toggle baseline.
  %li.m0
    %span.pyhalf.px1.skin-gray-soft.round-sm j
    to toggle grid debug.
  %li.m0
    %span.pyhalf.px1.skin-gray-soft.round-sm k
    to toggle this help on/off.