%aside.pos-fix.pos-b.pos-r.z10.p1.skin._gray-soft.fl-r.trans-on-hover.js-site-help
  %ul.list-inline.m0
    %li.m0
      %span.pvert1.phoriz1.skin._gray-dark.rd-sm h
      to toggle baseline.
    %li.m0
      %span.pvert1.phoriz1.skin._gray-dark.rd-sm j
      to toggle grid debug.
    %li.m0
      %span.pvert1.phoriz1.skin._gray-dark.rd-sm k
      to turn this help off.