/* Forms
   ========================================================================== */

$input-gray:             #BBC;
$input-blue:             #126BAD;
$input-blue-soft:        #7cafec;
$input-blue-light:       #d4e6f0;

$form-color-base:        $font-color-base;
$form-color-placeholder: #afa9af;
$input-bg-focus:         white;

$form-pad-v-base: $pad-v-xs;
$form-pad-h-base: $pad-h-xs;

$input-bg:           #f0f0f0 !default;
$input-border-width: 1px !default;
$input-border-color: #afa9af !default;

form,
.form {
  @include size_and_line($f4, rem);
}

label {
  font-size: $font-size-base;
  line-height: 2rem;
  margin-right: 0.5rem;
}

textarea {
  min-height: 5rem;
  vertical-align: top;
}

input:not([type="submit"]):not([type="file"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="reset"]),
select,
textarea{
  margin: 0 1rem 1rem 0;
  color:   $form-color-base;
  padding: $form-pad-v-base $form-pad-h-base;
  background-color: $input-bg;
  border: $input-border-width solid $input-border-color;
  @include size_and_line($f4, rem);
  max-height: 3rem;
  box-sizing: border-box;
  font-family: $font-family-base;

  &:focus {
    background-color: $input-bg-focus;
    outline: none;
    box-shadow: 0 0 4px 1px rgba($input-blue, 0.5);
  }
}

select {
  height: 3rem;
}

.checkbox,
input[type="checkbox"],
.radio,
input[type="radio"] {
  display: inline-block;
  margin-right: 0.25rem;
}

.form-stacked {
  input:not([type="submit"]):not([type="file"]):not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="reset"]),
  select,
  textarea{
    margin: 0;
    width: 100%;
  }
//
//  label {
//    display: block;
//    max-height: 2rem;
//  }
}
