/* Forms
   ========================================================================== */

$form-color-base:        $font-color-base;
$form-color-placeholder: #afa9af;
$input-bg-focus:         white;

$form-pad-v-base: $pad-v-xs;
$form-pad-h-base: $pad-h-xs;

$input-bg:           #f0f0f0 !default;
$input-border-width: 1px !default;
$input-border-color: #afa9af !default;













form,
.form {
  @include size_and_line($f5, rem);
}

label {
  font-size: $font-size-base;
  line-height: 2rem;
}



form {

//  @include size_and_line($f4, rem);

  label,
  legend,
  caption,
  .checkbox, input[type="checkbox"],
  .radio, input[type="radio"] {
  }

  input,
  select,
  textarea {
    margin: 0 $form-pad-h-base 0 0;
    color:   $form-color-base;
    padding: $form-pad-v-base $form-pad-h-base;
    background-color: $input-bg;
    border: $input-border-width solid $input-border-color;
    @include size_and_line($f4, rem);
    max-height: 3rem;
    box-sizing: border-box;

    &:focus {
      background-color: $input-bg-focus;
      outline: none;
      box-shadow: 0 0 4px 1px rgba(0, 150, 204, 0.5);
    }
  }
}


/* CUSTOM SELECT STYLING for WEBKIT */
select {
  padding-right: 1.5rem !important;
  -webkit-appearance: none;
  background:
    linear-gradient($input-bg 50%, transparent 50%),
    linear-gradient(-45deg, $input-bg 25%, transparent 25%),
    linear-gradient(45deg, $input-bg 25%, $form-color-base 25%);
  background-size:0.5rem 0.5rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.5rem);

  &:focus {
    background:
      linear-gradient($input-bg-focus 50%, transparent 50%),
      linear-gradient(-45deg, $input-bg-focus 25%, transparent 25%),
      linear-gradient(45deg, $input-bg-focus 25%, $form-color-base 25%);
    background-size:0.5rem 0.5rem;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.5rem);
  }
}




.checkbox,
input[type="checkbox"],
.radio,
input[type="radio"] {
  margin: 0;
}


//

.form-stacked {
  input,
  .select,
  select,
  textarea {
    display: block;
    margin: 0 0 1rem;
  }

  label {
    margin-bottom: 0;
  }
}
