//TODO: document links.css.scss

$blue: #3874b5;
$blue-dark: #284c72;
$blue-soft: #77abc9;

$link-gray:             #BBC;
$link-blue:             $blue;
$link-blue-soft:        $blue-soft;
$link-blue-light:       #d4e6f0;

$link-color:            $link-blue !default;
$link-hover-color:      $link-blue-soft !default;
$link-active-color:     $link-blue !default;
$link-visited-color:    $link-blue !default;

$link-light-color:         $link-blue-soft !default;
$link-light-hover-color:   $link-blue-light !default;
$link-light-active-color:  $link-blue-soft !default;
$link-light-visited-color: $link-blue-soft !default;

$transition-speed:        200ms;
$transition-speed-fast:   100ms;
$transition-speed-slow:   400ms;
$link-transition-speed: $transition-speed;


// Options

$link-underline-option:        false !default;
$link-border-underline-option: true !default;
$link-transition-option:       true !default;
$link-underline-hover-option:  true !default;

a {
  color: $link-color;

  @if $link-underline-option {
    text-decoration: underline;

    @if $link-border-underline-option {
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }
  @else { text-decoration: none; }

  @if $link-transition-option   { -webkit-transition: color, $link-transition-speed;-moz-transition: color, $link-transition-speed;-ms-transition: color, $link-transition-speed;-o-transition: color, $link-transition-speed;transition: color, $link-transition-speed; }

  &:visited {
    color: $link-visited-color;
  }

  &.light {
    color: $link-light-color;

    &:visited {
      color: $link-light-visited-color;
    }
    &:hover {
      color: $link-light-hover-color;
    }
    &:active {
      color: $link-light-active-color;
    }
  }

  &.link-white {
    color: white;

    &:visited,
    &:hover,
    &:active {
      color: white;
    }
  }

  &:hover {
    color: $link-hover-color;

    @if $link-underline-hover-option {
      @if $link-border-underline-option {
        text-decoration: none;
        border-bottom: 1px solid;
      }
      @else {
        text-decoration: underline;
      }
    }
  }
  &:active {
    color: $link-active-color;
  }
}