/* Basic list styling */

ul,
ol {
  padding-left: 1.5em;
  margin-top: 0;

  ul,
  ol {
    margin-bottom: 0;
  }
}

li {
  margin-bottom: 1rem;
}

dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
  margin-bottom: 2rem;
}

dl > dd:last-child {
  margin-bottom: 0;
}


/* List utility classes - extends ul, ol, dl */

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;

  > li {
    display: inline-block;
    padding-left: $pad-h-xs;
    padding-right: $pad-h-xs;
  }

  &.list-nav{
    @include at_breakpoint(xs){
      > li {
        display: block;
        width: 100%;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}