
$table-cell-pad:           $pad-v-sm $pad-h-base;
$table-cell-condensed-pad: $pad-v-xs $pad-h-sm;

//$table-bg:            transparent !default;
$table-header-border: rgba(0,0,0,0.1) !default;
$table-footer-border: rgba(0,0,0,0.1) !default;
$table-cell-border:   rgba(0,0,0,0.1) !default;
$table-stripe-color:  #F0F0F0 !default;
$table-hover-color:   #E7E7E7 !default;
$table-border-color:  rgba(0,0,0,0.1) !default;

$table-stripe-dark-color:  rgba(255,255,255,0.1) !default;
$table-hover-dark-color:   rgba(255,255,255,0.2) !default;

//
// Tables
// --------------------------------------------------


.table,
 table {
  border-collapse: collapse;
  font-size: $font-size-base;
  line-height: $font-size-base;
  max-width: 100%;
  @if variable_exists(table-bg){ background-color: $table-bg;}

  &.table-full {
    width: 100%;
  }
}

thead {
  th {
    border-bottom: 2px solid $table-header-border;
    vertical-align: bottom;
    line-height: $font-size-base - 2;
  }
}

tfoot {
  td {
    line-height: $font-size-base;
    border-bottom: 0;
    @if variable_exists(table-bg){ background-color: $table-bg;}
  }
}

th {
  text-align: left;
  font-weight: $font-weight-heavy;
}

td,
th {
  padding: $table-cell-pad;
  line-height: $font-size-base - 1;
  border-bottom: 1px solid $table-cell-border;
}

td {
  vertical-align: top;
}

tfoot {
  td {
    @if variable_exists(table-bg){ background-color: $table-bg;}
      @else { background-color: transparent; }
  }
}

//.table-unstyled {
//  th {
//    background-color: transparent;
//  }
//
//  tfoot {
//    td {
//      background-color: transparent;
//    }
//  }
//}

.table-condensed {
  td,
  th {
    padding: $table-cell-condensed-pad;
  }
}

.table-bordered {
  td,
  th {
    border: 1px solid $table-border-color;
    border-top: none;
    line-height: $font-size-base - 1;
  }

  thead {
    th {
      border: 1px solid $table-border-color;
      line-height: $font-size-base - 2;
    }
  }
}

.table-striped {
  tr:nth-child(odd) {
    td {
      background-color: $table-stripe-color;
    }
  }

  &.table-striped-dark {
    tr:nth-child(odd) {
      td {
        background-color: $table-stripe-dark-color;
      }
    }
  }

  tfoot {
    tr:nth-child(odd) {
      td {
        @if variable_exists(table-bg){ background-color: $table-bg;}
          @else { background-color: transparent; }
      }
    }
  }
}

.table-hover {
  tr:hover td {
    background-color: $table-hover-color;
  }
}
.table-hover-dark {
  tr:hover td {
    background-color: $table-hover-dark-color;
  }
}
.table-hover,
.table-hover-dark {
  tfoot {
    tr:hover td {
      @if variable_exists(table-bg){ background-color: $table-bg; }
        @else { background-color: transparent; }
    }
  }
}