/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style-type: square;
  le: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Padding
   ========================================================================== */
/* Typography
   ========================================================================== */
/* Returns exponent
   ========================================================================== */
/**
* 1. Reset value
* 2. Positive integers get multiplied
* 3. Negative integers get divided. A number divided by itself is 1
* 4. Return the last value written
*/
/* Font size and line height mixin
   ========================================================================== */
/* Media breakpoint, super-simple version
   ========================================================================== */
/* Container
   ========================================================================== */
/**
* The container class, when included, will constrain the width of its
* children, based on defined media breakpoints.
*
* 1. Include a $container-max if you want to constrain the maximum allowable
*    width for the container, regardless of breakpoint constraints.
*/
/* Custom breakpoints */
/* Container constraint variables */
/* 1 */
.container {
  padding: 0 10px;
  margin: auto; }
  @media screen and (min-width: 1201px) {
    .container {
      width: 1180px; } }
  @media screen and (max-width: 1200px) {
    .container {
      width: 972px; } }
  @media screen and (max-width: 992px) {
    .container {
      width: 748px; } }
  @media screen and (max-width: 768px) {
    .container {
      width: 460px; } }
  @media screen and (max-width: 480px) {
    .container {
      width: 100%; } }
  .container.contain_to._lg {
    max-width: 972px; }
  .container.contain_to._md {
    max-width: 748px; }
  .container.contain_to._sm {
    max-width: 460px; }

/* Margin helpers
   ========================================================================== */
/**
* Use margin helpers to keep vertical rhythm. Micro classes like this help
* maintain the intended visual look, while keeping css size and overlap low.
*
* However, _sometimes_ it's easier for long-term maintenance to include styles
* for margin and padding in another class.
*
* Example:
* Don't do this:
*
* .myClass {
*   margin-bottom: 30px;
* }
*
* Instead, do something like this:
*
* .myClass {
*   @extend .mb3;
*   @extend .p1;
* }
*
* This will duplicate the output css
*
* .mb3 { margin-bottom: 3rem; }
* .p1 { padding: 1rem; }
* .myClass { margin-bottom: 3rem; padding: 1rem; }
*
* but it might be easier to maintain for your particular application.
*/
.m0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.m4 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.mb0 {
  margin-bottom: 0 !important; }

.mb1 {
  margin-bottom: 1rem; }

.mb2 {
  margin-bottom: 2rem; }

.mb3 {
  margin-bottom: 3rem; }

.mb4 {
  margin-bottom: 4rem; }

.mb5 {
  margin-bottom: 5rem; }

.mb6 {
  margin-bottom: 6rem; }

.mb7 {
  margin-bottom: 7rem; }

.mb8 {
  margin-bottom: 8rem; }

.mb9 {
  margin-bottom: 9rem; }

.mb10 {
  margin-bottom: 10rem; }

.mt0 {
  margin-top: 0 !important; }

.mt1 {
  margin-top: 1rem; }

.mt2 {
  margin-top: 2rem; }

.mt3 {
  margin-top: 3rem; }

.mt4 {
  margin-top: 4rem; }

.mr0 {
  margin-right: 0 !important; }

.mr1 {
  margin-right: 1rem; }

.mr2 {
  margin-right: 2rem; }

.mr3 {
  margin-right: 3rem; }

.mr4 {
  margin-right: 4rem; }

.ml0 {
  margin-left: 0 !important; }

.ml1 {
  margin-left: 1rem; }

.ml2 {
  margin-left: 2rem; }

.ml3 {
  margin-left: 3rem; }

.ml4 {
  margin-left: 4rem; }

/* Padding helpers
   ========================================================================== */
.p1 {
  padding: 1rem; }

.p2 {
  padding: 2rem; }

.p3 {
  padding: 3rem; }

.p4 {
  padding: 4rem; }

.pvert1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.pvert2 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pvert3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.pvert4 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.phoriz1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.phoriz2 {
  padding-left: 1rem;
  padding-right: 1rem; }

.phoriz3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.phoriz4 {
  padding-left: 2rem;
  padding-right: 2rem; }

/* Font basics
   ========================================================================== */
/* Headings
   ========================================================================== */
/* ==========================================================================
   Typography
   ========================================================================== */
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  color: #444444; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 700;
  margin-bottom: 1rem;
  color: inherit;
  text-rendering: optimizeLegibility; }

h1, .h1, .f1 {
  font-size: 4.76837rem;
  line-height: 6rem;
  margin-bottom: 3rem;
  letter-spacing: -0.04768rem; }

h2, .h2, .f2 {
  font-size: 3.05176rem;
  line-height: 5rem;
  margin-bottom: 2rem;
  letter-spacing: -0.03052rem; }

h3, .h3, .f3 {
  font-size: 1.95313rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  letter-spacing: -0.01953rem; }

h4, .h4, .f4,
p, .p,
dl, ol, ul {
  font-size: 1.25rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  letter-spacing: -0.0125rem; }

h5, .h5, .f5 {
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  letter-spacing: -0.01rem; }

h6, .h6, .f6 {
  font-size: 0.8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  letter-spacing: -0.008rem; }

/* Helper classes
   ========================================================================== */
small, .small {
  font-size: 65%%;
  line-height: 66%%;
  margin-bottom: 33%%;
  letter-spacing: -0.65%%; }

.text-muted {
  color: #aaaaaa; }

.text-l {
  text-align: left; }

.text-c {
  text-align: center; }

.text-r {
  text-align: right; }

.light, .btn {
  font-weight: 100; }

.f-xl {
  font-size: 11.64153rem; }

.f-lg {
  font-size: 7.45058rem; }

.f-sm {
  font-size: 0.64rem; }

.f-xs {
  font-size: 0.512rem; }

hr, .hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 16px;
  margin-bottom: 15px; }

/* Responsive text
   ========================================================================== */
@media screen and (max-width: 992px) {
  .h1 {
    font-size: 3.8147rem;
    line-height: 5rem;
    margin-bottom: 2rem;
    letter-spacing: -0.03815rem; }

  .h2 {
    font-size: 2.44141rem;
    line-height: 4rem;
    margin-bottom: 2rem;
    letter-spacing: -0.02441rem; }

  .h3 {
    font-size: 1.5625rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    letter-spacing: -0.01563rem; } }
@media screen and (max-width: 768px) {
  .h1 {
    font-size: 3.05176rem;
    line-height: 5rem;
    margin-bottom: 2rem;
    letter-spacing: -0.03052rem; }

  .h2 {
    font-size: 1.95313rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    letter-spacing: -0.01953rem; }

  .h3, .p, .h4 {
    font-size: 1.25rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    letter-spacing: -0.0125rem; } }
/* ==========================================================================
   Styles for testing purposes
   ========================================================================== */
.bg-blueprint {
  background-color: transparent;
  background-image: linear-gradient(rgba(34, 102, 153, 0.1) 1px, transparent 1px);
  background-size: 1rem 1rem;
  background-position: top center; }
  .bg-blueprint.dark-version {
    background-color: #226699;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px); }
    .bg-blueprint.dark-version div, .bg-blueprint.dark-version h1, .bg-blueprint.dark-version h2, .bg-blueprint.dark-version h3, .bg-blueprint.dark-version h4, .bg-blueprint.dark-version h5, .bg-blueprint.dark-version h6, .bg-blueprint.dark-version p, .bg-blueprint.dark-version section, .bg-blueprint.dark-version article, .bg-blueprint.dark-version header, .bg-blueprint.dark-version footer {
      outline: 1px solid rgba(255, 255, 255, 0.5);
      color: #e8e9f2;
      background-color: rgba(255, 255, 255, 0.2); }
  .bg-blueprint div, .bg-blueprint h1, .bg-blueprint h2, .bg-blueprint h3, .bg-blueprint h4, .bg-blueprint h5, .bg-blueprint h6, .bg-blueprint p, .bg-blueprint section, .bg-blueprint article, .bg-blueprint header, .bg-blueprint footer {
    outline: 1px solid rgba(34, 102, 153, 0.3);
    background-color: rgba(34, 102, 153, 0.1); }

.btn {
  background-color: #226699;
  color: white;
  letter-spacing: 1.5px;
  padding: 1.5rem 3rem;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  letter-spacing: -0.01rem;
  display: inline-block;
  vertical-align: bottom;
  text-align: center; }
  .btn:hover {
    background-color: #2b82c3;
    text-shadow: 0 0 15px white, 0 0 25px white; }
  .btn:active {
    background-color: #194a6f; }
  .btn.btn-xl {
    font-size: 1.95313rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    letter-spacing: -0.01953rem;
    padding: 2rem 6rem; }
  .btn.btn-lg {
    font-size: 1.25rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    letter-spacing: -0.0125rem;
    padding: 1.5rem 4.5rem; }
  .btn.btn-sm {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    letter-spacing: -0.01rem;
    padding: 1rem 1.5rem; }
  .btn.btn-xs {
    font-size: 0.8rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    letter-spacing: -0.008rem;
    padding: 0.5rem 1rem; }

@media screen and (max-width: 480px) {
  .btn {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important; } }
.helper-text {
  font-size: 11px;
  line-height: 1;
  color: gray;
  font-weight: normal; }

.skin._gray-soft {
  background-color: #bfc5c6; }

.img._scale10 {
  max-height: 10rem; }
.img._scale20 {
  max-height: 20rem; }
.img._scale30 {
  max-height: 30rem; }
.img._fl-r {
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem; }
.img._fl-l {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem; }
