/* Borders
   ========================================================================== */

$border-xs: 1px;
$border-sm: 2px;
$border-md: 3px;
$border-lg: 5px;
$border-xl: 10px;
$border-xxl: 2rem;

$border-light: $gray-light;
$border-base: $gray;
$border-dark: $gray-dark;

%bordered,
.bordered {
  border-style: solid;
}

%border-t,
.border-t {
  border: none;
  border-top: 1px solid;
}

%border-b,
.border-b {
  border: none;
  border-bottom: 1px solid;
}

%border-l,
.border-l {
  border: none;
  border-left: 1px solid;
}

%border-r,
.border-r {
  border: none;
  border-right: 1px solid;
}

%border-none,
.border-none {
  border-width: 0 !important;
}

%border-xs,
.border-xs {
  border-width: $border-xs;
}

%border-sm,
.border-sm {
  border-width: $border-sm;
}

%border-md,
.border-md {
  border-width: $border-md;
}

%border-lg,
.border-lg {
  border-width: $border-lg;
}

%border-xl,
.border-xl {
  border-width: $border-xl;
}

%border-xxl,
.border-xxl {
  border-width: $border-xxl;
}

%border-gray-light,
.border-gray-light {
  border-color: $border-light;
}

%border-gray,
.border-gray {
  border-color: $border-base;
}

%border-gray-dark,
.border-gray-dark {
  border-color: $border-dark;
}


/* And border radials
   ========================================================================== */

$border-radius-xs: $font-size-base / 6 !default;
$border-radius-sm: $font-size-base / 4 !default;
$border-radius-md: $font-size-base / 2 !default;
$border-radius-lg: $font-size-base !default;
$border-radius-xl: $font-size-base * 1.5 !default;

%round-bottom,
.round-bottom {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

%round-top,
.round-top {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

%round-right,
.round-right {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

%round-left,
.round-left {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

%round-none,
.round-none {
  border-radius: 0 !important;
}

%round-xs,
.round-xs {
  border-radius: $border-radius-xs;
}

%round-sm,
.round-sm {
  border-radius: $border-radius-sm;
}

%round-md,
.round-md {
  border-radius: $border-radius-md;
}

%round-lg,
.round-lg {
  border-radius: $border-radius-lg;
}

%round-xl,
.round-xl {
  border-radius: $border-radius-xl;
}

%shadowed,
.shadowed {
  box-shadow: 0 2px 6px rgba(black, 0.15);
}