/* ==========================================================================
   What you need to know about this file:
   ==========================================================================

   These thematic styles that I refer to as "decoration" are useful for
   rapidly spinning up distinct, yet consistent UI elements.

   Dimensions and variations are constrained by discrete variable lists.
   These lists help keep consistent visual design.

*/


$border-colors: ($base-gray-lightest,    "gray-lightest"),
                ($base-gray-light,       "gray-light"),
                ($base-gray,             "gray"),
                ($base-gray-dark,        "gray-dark"),
                ($base-gray-darkest,     "gray-darkest"),
                ($link-color,            "link"),
                ($ghost-black-base,      "ghost-black-base"),
                ($ghost-white-base,      "ghost-white-base");

/*doc
---
title: Borders
name: borders
category: theme - decorations
---

```
$border-colors: ($gray-lightest,    "gray-lightest"),
                ($gray-light,       "gray-light"),
                ($gray,             "gray"),
                ($gray-dark,        "gray-dark"),
                ($gray-darkest,     "gray-darkest"),
                ($link-color,       "link"),
                ($ghost-black-base, "ghost-black-base"),
                ($ghost-white-base, "ghost-white-base");
```

```html_example
<p class="bordered">
  basic bordered
</p>
<p class="border-b">
  border bottom
</p>
<p class="border-t">
  border top
</p>
<p class="border-l border-r">
  border left and right
</p>
```
```html_example
<p class="bordered border-md border-gray-lightest">
  lightest gray border
</p>
<p class="bordered border-md border-gray-light">
  light gray border
</p>
<p class="bordered border-md border-gray">
  gray border
</p>
<p class="bordered border-md border-ghost-black-base">
  ghost black base border
</p>
<p class="bordered border-md border-link">
  link border
</p>
```
```html_example
<p class="bordered border-xs">
  xs border
</p>
<p class="bordered border-sm">
  sm border
</p>
<p class="bordered border-md">
  md border
</p>
<p class="bordered border-lg">
  lg border
</p>
<p class="bordered border-xl">
  xl border
</p>
```
*/


/*doc
---
title: Radius rounding
name: radius
category: theme - decorations
---

```html_example
<p class="bg-gray-light round-xs">
  xs radius
</p>
<p class="bg-gray-light round-sm">
  sm radius
</p>
<p class="bg-gray-light round-md">
  md radius
</p>
<p class="bg-gray-light round-lg">
  lg radius
</p>
<p class="bg-gray-light round-xl">
  xl radius
</p>
```
*/


/*doc
---
title: Shadows
name: shadows
category: theme - decorations
---

```html_example
<p class="shadowed">
  shadow
</p>
<p class="shadowed-light">
  light shadow
</p>
<div class="p1" style="background-color: #BBC;">
  <p class="shadowed-white">
    white shadow
  </p>
  <p class="shadowed-white-light">
    light white shadow
  </p>
</div>
<p class="shadowed-link-border">
  link border using shadow
</p>
<p class="shadowed-link-light-border">
  light link border using shadow
</p>
```
*/

@mixin decorations_styles {

  %bordered,
  .bordered {
    border: 1px solid;
  }

  %border-none,
  .border-none {
    border-width: 0 !important;
  }

  %round-none,
  .round-none {
    border-radius: 0 !important;
  }

  %shadowed,
  .shadowed {
    box-shadow: 0 2px 6px $ghost-black-base;
  }

  %shadowed-light,
  .shadowed-light {
    box-shadow: 0 1px 3px $ghost-black-base;
  }

  %shadowed-white,
  .shadowed-white {
    box-shadow: 0 2px 6px $ghost-white-base;
  }

  %shadowed-white-light,
  .shadowed-white-light {
    box-shadow: 0 1px 3px $ghost-white-base;
  }

  %shadowed-link-border,
  .shadowed-link-border {
    box-shadow: 0 0 0 nth($sm, 3) $link-color;
  }

  %shadowed-link-light-border,
  .shadowed-link-light-border {
    box-shadow: 0 0 0 nth($sm, 3) $link-light-color;
  }

  @each $size in $base-sizes {
    $short: nth($size, 1);
    $width: nth($size, 3);

    %border-#{$short},
    .border-#{$short} {
      border-width: $width !important;
    }

    %round-#{nth($size, 1)},
    .round-#{nth($size, 1)}{
      border-radius: nth($size, 3) !important;;
    }
  }

  @each $dir in $base-directions {
    $short: nth($dir, 1);
    $long:  nth($dir, 2);

    %border-#{$short},
    .border-#{$short} {
      border-#{$long}-style: solid;
      border-#{$long}-width: 1px;
    }

    %round-#{$short},
    .round-#{$short} {
      @if #{$long} == "top" {
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius:  0 !important;
      }
      @else if #{$long} == "bottom" {
        border-top-right-radius: 0 !important;
        border-top-left-radius:  0 !important;
      }
      @else if #{$long} == "left" {
        border-top-right-radius:    0 !important;
        border-bottom-right-radius: 0 !important;
      }
      @else {
        border-top-left-radius:    0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
  }

  @each $color in $border-colors {
    $var:  nth($color, 1);
    $name: nth($color, 2);

    %border-#{$name},
    .border-#{$name} {
      border-color: #{$var}
    }
  }

}