/*doc
---
title: "Skins"
name: skins
category: theme
---

Color classes that can be applied to most elements (or extended) at will

```html_example
<div class="p1">
  <div class="bg-gray-lightest ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-gray-light ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-gray ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-gray-dark ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-gray-darkest ib" style="width: 50px; height: 50px;"></div>
</div>

<div class="p1 bg-gray">
  <p>"Ghost" colors (semi-transparencies)</p>
  <div class="bg-ghost-white-light ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-ghost-white-base ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-ghost-white-dark ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-ghost-black-light ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-ghost-black-base ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-ghost-black-dark ib" style="width: 50px; height: 50px;"></div>
</div>

<div class="p1">
  <p>"Context" background colors (alert, info, success, warning)</p>
  <div class="bg-alert ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-info ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-success ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-warning ib" style="width: 50px; height: 50px;"></div>
</div>

<div class="p1">
  <p>"Context" skin colors (alert, info, success, warning)</p>
  <div class="skin-alert bordered ib px1">
    <p class="m0">Alert</p>
    <p class="light m0">Light text</p>
    <p class="dark m0">Dark text</p>
  </div>
  <div class="skin-info bordered ib px1">
    <p class="m0">Info</p>
    <p class="light m0">Light text</p>
    <p class="dark m0">Dark text</p>
  </div>
  <div class="skin-success bordered ib px1">
    <p class="m0">Success</p>
    <p class="light m0">Light text</p>
    <p class="dark m0">Dark text</p>
  </div>
  <div class="skin-warning bordered ib px1">
    <p class="m0">Warning</p>
    <p class="light m0">Light text</p>
    <p class="dark m0">Dark text</p>
  </div>
</div>

```

*/

@mixin bg-color($var, $name) {
  %bg-#{$name},
  .bg-#{$name} {
    background-color: $var;
  }
}

@mixin skin($name, $bg, $border, $color: "white", $color_dark: $border){
  %skin-#{$name},
  .skin-#{$name}{
    background-color: $bg;
    border-color: $border;
    color: $color;
    .p, p  { color: $color; }
    .light { color: white;  }
    .dark  { color: $color-dark; }
  }
}

@mixin skins_styles {
  @include bg-color($base-gray-lightest, "gray-lightest");
  @include bg-color($base-gray-light, "gray-light");
  @include bg-color($base-gray, "gray");
  @include bg-color($base-gray-dark, "gray-dark");
  @include bg-color($base-gray-darkest, "gray-darkest");

  @include bg-color($ghost-white-light, "ghost-white-light");
  @include bg-color($ghost-white-base,  "ghost-white-base");
  @include bg-color($ghost-white-dark,  "ghost-white-dark");
  @include bg-color($ghost-black-light, "ghost-black-light");
  @include bg-color($ghost-black-base,  "ghost-black-base");

  @include bg-color($alert-base,   "alert");
  @include bg-color($info-base,    "info");
  @include bg-color($success-base, "success");
  @include bg-color($warning-base, "warning");

  @include skin("alert",   $alert-base,   $alert-dark,   $alert-light);
  @include skin("info",    $info-base,    $info-dark,    $info-light);
  @include skin("success", $success-base, $success-dark, $success-light);
  @include skin("warning", $warning-base, $warning-dark, $warning-light);
}