/*doc
---
title: "Skins"
name: skins
category: theme - decorations
---

Color classes that can be applied to most elements (or extended) at will

```html_example
<div class="p1">
  <div class="bg-gray-lightest ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-gray-light ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-gray ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-gray-dark ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-gray-darkest ib" style="width: 50px; height: 50px;"></div>
</div>
```

#####"Ghost" colors (semi-transparencies)
```html_example
<div class="p1 bg-gray">
  <div class="bg-ghost-white-light ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-ghost-white-base ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-ghost-white-dark ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-ghost-black-light ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-ghost-black-base ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-ghost-black-dark ib" style="width: 50px; height: 50px;"></div>
</div>
```

#####"Context" background colors (alert, info, success, warning)
```html_example
<div class="p1">
  <div class="bg-alert ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-info ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-success ib" style="width: 50px; height: 50px;"></div>
  <div class="bg-warning ib" style="width: 50px; height: 50px;"></div>
</div>
```

#####"Context" skin colors (alert, info, success, warning)
```html_example
<div class="p1">
  <div class="skin-alert bordered">
    <p>Alert</p>
    <p class="light">Light text</p>
    <p class="dark">Dark text</p>
  </div>
  <div class="skin-info bordered">
    <p>Info</p>
    <p class="light">Light text</p>
    <p class="dark">Dark text</p>
  </div>
  <div class="skin-success bordered">
    <p>Success</p>
    <p class="light">Light text</p>
    <p class="dark">Dark text</p>
  </div>
  <div class="skin-warning bordered">
    <p>Warning</p>
    <p class="light">Light text</p>
    <p class="dark">Dark text</p>
  </div>
</div>
```

*/

@mixin bg-color($bg, $name) {
  %bg-#{$name},
  .bg-#{$name} {
    background-color: $bg;
  }
}

@mixin color($color, $name) {
  %color-#{$name},
  .color-#{$name} {
    color: $color;
  }
}

@mixin skin($bg, $name, $border: darken($bg, 17.5%), $color: "white", $color_dark: $border){
  %skin-#{$name},
  .skin-#{$name}{
    background-color: $bg;
    border-color: $border;
    color: unquote($color);
    .p, p  { color: $color; }
    .light { color: white;  }
    .dark  { color: $color-dark; }
  }
}

@mixin skins_styles {
  @include bg-color($base-gray-lightest, "gray-lightest");
  @include bg-color($base-gray-light,    "gray-light");
  @include bg-color($base-gray,          "gray");
  @include bg-color($base-gray-dark,     "gray-dark");
  @include bg-color($base-gray-darkest,  "gray-darkest");

  @include bg-color($ghost-white-light, "ghost-white-light");
  @include bg-color($ghost-white-base,  "ghost-white-base");
  @include bg-color($ghost-white-dark,  "ghost-white-dark");
  @include bg-color($ghost-black-light, "ghost-black-light");
  @include bg-color($ghost-black-base,  "ghost-black-base");

  @include bg-color($alert-base,   "alert");
  @include bg-color($info-base,    "info");
  @include bg-color($success-base, "success");
  @include bg-color($warning-base, "warning");

  @include color($base-gray-lightest, "gray-lightest");
  @include color($base-gray-light,    "gray-light");
  @include color($base-gray,          "gray");
  @include color($base-gray-dark,     "gray-dark");
  @include color($base-gray-darkest,  "gray-darkest");

  @include color($ghost-white-light, "ghost-white-light");
  @include color($ghost-white-base,  "ghost-white-base");
  @include color($ghost-white-dark,  "ghost-white-dark");
  @include color($ghost-black-light, "ghost-black-light");
  @include color($ghost-black-base,  "ghost-black-base");

  @include color($alert-base,   "alert");
  @include color($info-base,    "info");
  @include color($success-base, "success");
  @include color($warning-base, "warning");

  @include skin($alert-base,   "alert",   $alert-dark,   $alert-light);
  @include skin($info-base,    "info",    $info-dark,    $info-light);
  @include skin($success-base, "success", $success-dark, $success-light);
  @include skin($warning-base, "warning", $warning-dark, $warning-light);

  @include skin($base-gray-lightest, "gray-lightest", $color: darken($base-gray-lightest, 17.5%), $color_dark: $base-gray);
  @include skin($base-gray-light,    "gray-light",    $color: $base-gray,                         $color_dark: $base-gray-dark);
  @include skin($base-gray,          "gray",          $color: $base-gray-light);
  @include skin($base-gray-dark,     "gray-dark",     $color: $base-gray-light);
  @include skin($base-gray-darkest,  "gray-darkest",  $color: $base-gray);
}