%section.example
  %header
    %h3.h4.thin Media object (left)
  %section
    .media
      %img.media-object.left.mr1{ src: "http://fillmurray.com/g/64/64"}
      %p.media-body
        No! I want to live! There are still too many things I don't own! Say what? Say what? Isn't it true that you have been paid for your testimony? Leela's gonna kill me. Well, then good news! It's a suppository
%hr
%section.example
  %header
    %h3.h4.thin Media object (right)
  %section
    .media
      %img.media-object.right.ml1{ src: "http://fillmurray.com/g/96/96"}
      %p.media-body
        Who are you, my warranty?! Hello Morbo, how's the family? It's okay, Bender. I like cooking too. And remember, don't do anything that affects anything, unless it turns out you were supposed to, in which case, for the love of God, don't not do it!
%hr
%section.example
  %header
    %h3.h4.thin Media object (nested)
  %section
    .media
      %img.media-object.left.mr1{ src: "http://fillmurray.com/g/64/64"}
      .media-body
        %p No! I want to live! There are still too many things I don't own! Say what? Say what? Isn't it true that you have been paid for your testimony? Leela's gonna kill me. Well, then good news! It's a suppository
        .media
          %img.media-object.left.mr1{ src: "http://fillmurray.com/g/64/64"}
          .media-body
            %p Would you censor the Venus de Venus just because you can see her spewers? Soothe us with sweet lies. The alien mothership is in orbit here.
            .media
              %img.media-object.left.mr1{ src: "http://fillmurray.com/g/64/64"}
              .media-body
                %p If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate. Yeah. Give a little credit to our public schools. Noooooo!