%section.example
  %header
    %h3.h4.thin Positioning
  %section.pos-rel.bg-gray-lightest{ style: "width: 500px; height: 500px;"}
    .example-unit.pos-abs.pos-t.pos-r
      position: absolute, top, right
    .example-unit.pos-abs.pos-b.pos-l.pos-r
      position: absolute, full-bottom
    .example-unit.pos-abs.pos-center
      position: absolute, center
%hr
%section.examples.mt2.mb4
  .container.contain-to-md
    %p
      This section is still being documented.