/* Neutrals and primaries
   ========================================================================== */

$gray1: #252936;
$gray2: #313842;
$gray3: #5b6575;
$gray4: #657483;
$gray5: #859096;
$gray6: #a3b3b3;
$gray7: #e1e2e7;
$gray8: #f7f7f7;

$base03:   $gray1;
$base02:   $gray2;
$base01:   $gray3;
$base00:   $gray4;
$base0:    $gray5;
$base1:    #93a1a1;
$base2:    #eee8d5;
$base3:    #fdf6e3;

$yellow:  #dbc219;
$orange:  #df680a;
$red:     #dc4140;
$magenta: #d33682;
$violet:  #6c71c4;
$blue:    #268bd2;
$cyan:    #32bfb4;
$green:   #669910;

$yellow-soft:  #fef8a3;
$orange-soft:  #ffbc8a;
$red-soft:     #ffa09b;
$magenta-soft: #ffb0d7;
$violet-soft:  #b3b4ff;
$blue-soft:    #98d4ff;
$cyan-soft:    #a2ffee;
$green-soft:   #9aff61;


/* Brand and component colors
   ========================================================================== */

$brand-color-1:   $blue !default;
$brand-color-2:   $orange !default;
$brand-color-3:   $green !default;
$brand-primary:   $brand-color-1;
$brand-secondary: null !default;
$brand-tertiary:  null !default;;

$neutral1: #faf9ee;
$neutral2: $gray8;
$neutral3: $gray7;
$neutral4: $gray6;

$bg-color-base:           $gray8;
$font-color-base:         #42423f;


/* Links
   ========================================================================== */

$link-color:         $brand-primary !default;
$link-hover-color:   tint($link-color,20%) !default;
$link-active-color:  $link-color !default;
$link-visited-color: $link-color !default;

$link-no-underline-option: true !default;
$link-transition-option:   true !default;


