/* Borders
   ========================================================================== */

$border-xs: 1px;
$border-sm: 2px;
$border-md: 3px;
$border-lg: 5px;
$border-xl: 10px;
$border-xxl: 2rem;

$border-light: $gray-light;
$border-base: $gray;
$border-dark: $gray-dark;

$border-radius-xs: $font-size-base / 6 !default;
$border-radius-sm: $font-size-base / 4 !default;
$border-radius-md: $font-size-base / 2 !default;
$border-radius-lg: $font-size-base !default;
$border-radius-xl: $font-size-base * 1.5 !default;

$base-sizes: ("xs", "extra-small", 1px),
             ("sm", "small",       2px),
             ("md", "medium",      4px),
             ("lg", "large",       8px),
             ("xl", "extra-large", 16px);

$base-directions: ("t", "top"   ),
                  ("b", "bottom"),
                  ("l", "left"  ),
                  ("r", "right" );

$border-colors: ($gray-lightest,    "gray-lightest"),
                ($gray-light,       "gray-light"),
                ($gray,             "gray"),
                ($gray-dark,        "gray-dark"),
                ($gray-darkest,     "gray-darkest"),
                ($ghost-black-base, "ghost-black-base"),
                ($ghost-white-base, "ghost-white-base");

@mixin decorations_styles {

  // borders, border-radii, box-shadow, etc.

  %bordered,
  .bordered {
    border-style: solid;
  }

  %border-none,
  .border-none {
    border-width: 0 !important;
  }

  %round-none,
  .round-none {
    border-radius: 0 !important;
  }

  %shadowed,
  .shadowed {
    box-shadow: 0 2px 6px $ghost-black-base;
  }

  @each $size in $base-sizes {
    %border-#{nth($size, 1)},
    .border-#{nth($size, 1)} {
      border-width: nth($size, 3);
    }

    %round-#{nth($size, 1)},
    .round-#{nth($size, 1)}{
      border-radius: nth($size, 3);
    }
  }

  @each $dir in $base-directions {
    %border-#{nth($dir, 1)},
    .border-#{nth($dir, 1)} {
      border-#{nth($dir, 2)}-style: solid;
    }

    %round-#{nth($dir, 1)},
    .round-#{nth($dir, 1)} {
      @if #{nth($dir, 2)} == "top" {
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius:  0 !important;
      }
      @else if #{nth($dir, 2)} == "bottom" {
        border-top-right-radius: 0 !important;
        border-top-left-radius:  0 !important;
      }
      @else if #{nth($dir, 2)} == "left" {
        border-top-right-radius:    0 !important;
        border-bottom-right-radius: 0 !important;
      }
      @else {
        border-top-left-radius:    0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
  }

  @each $color in $border-colors {
    %border-#{nth($color, 2)},
    .border-#{nth($color, 2)} {
      border-color: #{nth($color, 1)}
    }
  }

}