/* ==========================================================================
   Typography
   ========================================================================== */

body    {
  font-size:   $font-size-base;
  font-family: $font-family-base;
  font-weight: $font-weight;
  line-height: $line-height-base;

  color:            $font-color-base;
  background-color: $bg-color-base;
}

.light { font-weight: $headings-light-weight; }

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  font-weight: $headings-weight;
}

h1,.h1,h2,.h2 {
  margin: $pad-h-lg 0 $pad-h-lg;
}
h3,.h3,h4,.h4 {
  margin: $pad-h-md 0 $pad-h-md;
}
h5,.h5,h6,.h6 {
  margin: $pad-h-sm 0 $pad-h-sm;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

p {
  padding-top:    1em;
  padding-bottom: 1em;
  margin:         0;
}