- skin_class ||= "skin-green"
%section.p2.text-c{ class: skin_class }
  %header
    %h1.h3
      Skin test:
      %span.thin= skin_class
  %section.m2
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    %p.dark Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
  %section.m2
    %a.btn.btn-skin{href:"#"} button
    %a.btn.btn-skin-dark{href:"#"} button
    %p.text-muted Muted text. Muted text. Muted text.
  %section.m2= render "pages/forms/default"
  %section.container.contain-to_md.m2= render "pages/tables/table_test", table_class: "full-width table-striped-dark table-hover-dark", table_header: ""
