.container.flex

  %section.mb1.bg-gray-lightest.px1
    %code Test test
    %pre Test test

  %section.mb1
    %aside.p1.bg-gray-dark.ib
      %a.btn.btn-link.btn-link-dark.light{ href:"!#" } Button
    %aside.p1.ib
      %a.btn.btn-link.active{ href:"!#" } Button
      %a.btn.btn-link{ href:"!#" } Button

  %form.mb1
    %fieldset.btn-group
      %label.btn
        %input{ type:"radio", name: "btn-radio-test" } Button
      %label.btn
        %input{ type:"radio", name: "btn-radio-test" } Button
      %label.btn
        %input{ type:"radio", name: "btn-radio-test" } Button
  %form.mb1
    %fieldset
      %label.btn
        %input{ type:"checkbox" } Button
      %label.btn
        %input{ type:"checkbox" } Button

  %section.mb1
    - bgs = "gray-lightest", "gray-light", "gray", "gray-dark", "gray-darkest"
    - bgs.each do |bg|
      .ib.p1.bordered{ class: "skin-#{bg}"}
        %p Helo wurld.
        %p.light Helo wurld.
        %p.dark Helo wurld.

  %section.mb1
    .test-grid
      %div
        %p 1. Here is some gridded content
      %div
        %p 2. Here is some gridded content
