.container
  .f-xl.js-font-size Font size of xl
  .f-lg.js-font-size Font size of lg
  .f-md.js-font-size Font size of md
  .f-sm.js-font-size Font size of sm
  .f-xs.js-font-size Font size of xs
  .h1.js-font-size Font size of h1
  .h2.js-font-size Font size of h2
  .h3.js-font-size Font size of h3
  .h4.js-font-size Font size of h4
  .h5.js-font-size Font size of h5
  .h6.js-font-size Font size of h6
  .p.js-font-size Font size of p

.container
  .margin-test
    .margin-test.mt8.mt2-xs.ib.py1 test
    .margin-test.mt8.mt2-xs.ib.py1 test
    .margin-test.mt8.mt2-xs.ib.py1 test

.container
  .grid-flex.grid-1_5.grid-flex--full-xs.grid-flex--fill-space
    %div 1
    %div 2
    %div 3
    %div 4
    %div 5
    %div 6
    %div 7
    %div 7
    %div 7
    %div 7
    %div 7
    %div 7
    %div 7
    %div 7
    %div 7
    %div 7
    %div 7
    %div 7
    %div 7

  .grid
    .g._1-5 1
    .g._1-5 2
    .g._1-5 3
    .g._1-5 4
    .g._1-5 5
    .g._1-5 6
    .g._1-5 7

.flex-test
  .flex-item 1
  .flex-item 2
  .flex-item 3
  .flex-item 4
  .flex-item 5

.container.flex

  = render "pages/examples/tables_examples"

  = render "pages/examples/forms_examples"

  %section.mb1.bg-gray-lightest.px1
    %code Test test
    %pre Test test

  %section.mb1
    %aside.p1.bg-gray-dark.ib
      %a.btn.btn-link.btn-link-dark.light{ href:"!#" } Button
    %aside.p1.ib
      %a.btn.btn-link.active{ href:"!#" } Button
      %a.btn.btn-link{ href:"!#" } Button

  %section.mb1
    .btn.btn-xs Button
    .btn.btn-sm Button
    .btn.btn-md Button
    .btn.btn-lg Button
    .btn.btn-xl Button
    .btn.btn-xxl Button
    .btn.btn-xxxl Button
  %section.mb1
    .btn.btn-xs2 Button
    .btn.btn-sm2 Button
    .btn.btn-md2 Button
    .btn.btn-lg2 Button
    .btn.btn-xl2 Button
  %section.mb1
    %input.btn.btn-xs2{type: "button", value: "Input Button"}
    %input.btn.btn-sm2{type: "button", value: "Input Button"}
    %input.btn.btn-md2{type: "button", value: "Input Button"}
    %input.btn.btn-lg2{type: "button", value: "Input Button"}
    %input.btn.btn-xl2{type: "button", value: "Input Button"}
  %section.mb1
    %submit.btn.btn-xs2{} Submit
    %submit.btn.btn-sm2{} Submit
    %submit.btn.btn-md2{} Submit
    %submit.btn.btn-lg2{} Submit
    %submit.btn.btn-xl2{} Submit
  %section.mb1
    .btn-group
      %a.btn.btn-tangerine Hello
      %a.btn Hello
      %a.btn Hello
      %a.btn Hello
    .btn-group-vertical
      %a.btn Hello
      %a.btn Hello
      %a.btn Hello
      %a.btn Hello


  %form.mb1
    .btn-group
      %label.btn
        %input{ type:"radio", name: "btn-radio-test" } Button
      %label.btn
        %input{ type:"radio", name: "btn-radio-test" } Button
      %label.btn
        %input{ type:"radio", name: "btn-radio-test" } Button
  %form.mb1
    .btn-group-vertical
      %label.btn
        %input{ type:"radio", name: "btn-radio-test3" } Button
      %label.btn
        %input{ type:"radio", name: "btn-radio-test3" } Button
      %label.btn
        %input{ type:"radio", name: "btn-radio-test3" } Button
  %form.mb1
    %fieldset
      %label.btn
        %input{ type:"checkbox" } Button
      %label.btn
        %input{ type:"checkbox" } Button

  %section.mb1
    - bgs = "gray-lightest", "gray-light", "gray", "gray-dark", "gray-darkest"
    - bgs.each do |bg|
      .ib.p1.bordered{ class: "skin-#{bg}"}
        %p Helo wurld.
        %p.light Helo wurld.
        %p.dark Helo wurld.

  %section.mb1
    .test-grid
      %div
        %p 1. Here is some gridded content
      %div
        %p 2. Here is some gridded content

  %section.mb1
    %p
      Oh, I always feared he might run off like this. Why, why, why didn't I break his legs? I
      %a.color-gray{ href: "#" } love this planet!
      I've got wealth, fame, and access to the depths of sleaze that those things bring. Why, those are the Grunka-Lunkas!
      %a.light{ href: "#" } They work here in the Slurm factory.
      And why did 'I' have to take a cab? Leela, are you alright? You got wanged on the head. And when we woke up, we had these bodies.

  %section.mb1
    %table.table-full
      %tr
        %th header1
        %th header2
        %th header3
        %th header4
      %tfoot
        %td footer 1
        %td footer 2
        %td footer 3
        %td footer 4
      %tbody
        %tr
          %td body text 1
          %td body text 2
          %td body text 3
          %td body text 4

:javascript
  $(document).ready( function() {
    $( window ).resize(function() {
      $(".js-font-size-displayed").remove();

      $('.js-font-size').each( function() {
        font_size   = $(this).css('font-size');
        line_height = parseFloat($(this).css('line-height'))/16;
        $(this).append("<span class='f-xs js-font-size-displayed'>"+font_size+" "+line_height+"rem</span>");
      });
    });

  } );
