%section.skin-lime.py8
  %header.text-c
    .container.flex
      %h1.f-xl.thin.dark.mb4 Elements
      %h2.h2.thin
        Basic styling and helper classes
        %br
        for basic html elements
%article.mb8
  %header.bg-gray-lightest
    .container.contain-to-md
      %h1.f-xl.color-gray-light.m0 forms
  %section.examples.m2
    .container.contain-to-md
      %section.example
        %header
          %h3.h4 Default form
        %form
          %label{ for: "input-example" } Input Label
          %input#input-example{ type: "text", placeholder: "placeholder text" }
          %button.btn.btn-sm Default Button
      %hr
      %section.example
        %header
          %h3.h4 Stacked form
        %form.form-stacked
          %label{ for: "input-example2" } Input Label
          %input#input-example2{ type: "text", placeholder: "placeholder text" }
          %button.btn.btn-sm.m1 Default Button
      %hr
      %section.example
        %header
          %h3.h4 Disabled states
        %form
          %label.disabled{ disabled: true, for: "input-example3" } Input Label
          %input#input-example3{ disabled: true, type: "text", placeholder: "placeholder text" }
          %button.btn.btn-sm{ disabled: true } Default Button
      %hr
        %section.options
          %header
            %h4.h4 Options
          %pre
            %code.language-css
              :preserve
                .face {
                  width: 25px;
                }







%article.mb4
  %header.bg-gray-lightest
    .container.contain-to-md
      %h1.f-xl.color-gray-light.m0 links
  %section.examples.m2
    .container.contain-to-md
      %section.example
        %header
          %h3.h4 Default form
        %form
          %label{ for: "input-example" } Input Label
          %input#input-example{ type: "text", placeholder: "placeholder text" }
          %button.btn.btn-sm Default Button
      %hr
      %section.example
        %header
          %h3.h4 Stacked form
        %form.form-stacked
          %label{ for: "input-example2" } Input Label
          %input#input-example2{ type: "text", placeholder: "placeholder text" }
          %button.btn.btn-sm.m1 Default Button
      %hr
      %section.example
        %header
          %h3.h4 Disabled states
        %form
          %label.disabled{ disabled: true, for: "input-example3" } Input Label
          %input#input-example3{ disabled: true, type: "text", placeholder: "placeholder text" }
          %button.btn.btn-sm{ disabled: true } Default Button





%article.mb4
  %header.bg-gray-lightest
    .container.contain-to-md
      %h1.f-xl.color-gray-light.m0 lists
  %section
%article.mb4
  %header.bg-gray-lightest
    .container.contain-to-md
      %h1.f-xl.color-gray-light.m0 tables
  %section

.container.contain-to-md
  %section.mb4
    %header
      %h3.h3 What about abbreviations, blockquotes, lead copy, addresses, etc?!?
      %h4.h4.thin EVERY css framework worth it's weight in salt has these!
  %section.mb4
    %p
      I've never used them before. I see the use; I can picture using some of these; semantically, they make sense. But I
      %em just don't care enough
      to do anything about it.