%section.container.m4.js-grid-test
  %header
    %h2.h3 Grids, nested grids
  .grid
    .g._1-1
      %p.skin._gray-dark.p1 .container
    .g._1-1
      %p _1-1
  .grid
    .g._1-2
      %p _1-2
    .g._1-2
      %p _1-2
  .grid
    .g._1-3
      %p _1-3
    .g._1-3
      %p _1-3
    .g._1-3
      %p _1-3
  .grid
    .g._1-4
      %p _1-4
    .g._1-4
      %p _1-4
    .g._1-4
      %p _1-4
    .g._1-4
      %p _1-4
  .grid
    .g._1-5
      %p _1-5
    .g._1-5
      %p _1-5
    .g._1-5
      %p _1-5
    .g._1-5
      %p _1-5
    .g._1-5
      %p _1-5
  .grid
    .g._1-6
      %p _1-6
    .g._1-6
      %p _1-6
    .g._1-6
      %p _1-6
    .g._1-6
      %p _1-6
    .g._1-6
      %p _1-6
    .g._1-6
      %p _1-6

  .grid._r.mt1
    .g._3-4
      %p.phoriz1.skin._gray-dark Grid right, reversed
  .grid._r._reverse
    .g._1-4
      %p.fl-l.phoriz1.pvert1.skin._gray-soft.m0 #1
      %p.fl-l.phoriz1.pvert1 _1-4
    .g._1-4
      %p.fl-l.phoriz1.pvert1.skin._gray-soft.m0 #2
      %p.fl-l.phoriz1.pvert1 _1-4
    .g._1-4
      %p.fl-l.phoriz1.pvert1.skin._gray-soft.m0 #3
      %p.fl-l.phoriz1.pvert1 _1-4

  .grid.mt1
    .g._1-2
      %p _1-2
      .grid
        .g._1-4
          %p _1-4
        .g._1-4
          %p _1-4
        .g._1-4
          %p _1-4
        .g._1-4
          %p _1-4
      .grid
        .g._1-5
          %p _1-5
        .g._1-5
          %p _1-5
        .g._1-5
          %p _1-5
        .g._1-5
          %p _1-5
        .g._1-5
          %p _1-5
    .g._1-2
      %p _1-2
      .grid
        .g._1-3
          %p _1-3
        .g._1-3
          %p _1-3
        .g._1-3
          %p _1-3
      .grid
        .g._1-6
          %p _1-6
        .g._1-6
          %p _1-6
        .g._1-6
          %p _1-6
        .g._1-6
          %p _1-6
        .g._1-6
          %p _1-6
        .g._1-6
          %p _1-6

%section.container.flex.m4.js-grid-test
  %header
    %h2.h3 Flexible container, gridded like a champ.
  .grid
    .g._1-1
      %p.skin._gray-dark.p1 .container.flex
    .g._1-4
      %p _1-4
    .g._1-2
      %p _1-2
    .g._1-4
      %p _1-4
  .grid.mt1
    .g._1-2
      %p _1-2
      .grid
        .g._1-4
          %p _1-4
        .g._1-4
          %p _1-4
        .g._1-4
          %p _1-4
        .g._1-4
          %p _1-4
    .g._1-2
      %p _1-2
      .grid
        .g._1-3
          %p _1-3
        .g._1-3
          %p _1-3
        .g._1-3
          %p _1-3

%section.container.contain-to_md.m4.js-grid-test
  %header
    %h2.h3 Contain to medium breakpoint, responsive columns
  .grid
    .g._1-1
      %p.skin._gray-dark.p1 .container.contain-to_md
    .g._1-4._1-2-sm._1-1-xs
      %p
        _1-4
        %br
        _1-2-sm
        %br
        _1-1-xs
    .g._1-4._1-2-sm._1-1-xs
      %p
        _1-4
        %br
        _1-2-sm
        %br
        _1-1-xs
    .g._1-2._1-1-sm._1-1-xs
      %p
        _1-2
        %br
        _1-1-sm
        %br
        _1-1-xs
  .grid._c.mt1
    .g._2-3._3-4-sm._1-1-xs
      .grid
        .g._1-1
          %p.phoriz1.skin._gray-dark Grid centered
      %p
        _2-3
        %br
        _3-4-sm
        %br
        _1-1-xs
      .grid
        .g._1-3._1-2-sm._1-2-xs
          %p
            _1-3
            %br
            _1-2-sm
            %br
            _1-2-xs
        .g._1-3._1-2-sm._1-2-xs
          %p
            _1-3
            %br
            _1-2-sm
            %br
            _1-2-xs
        .g._1-3._1-2-sm._1-2-xs
          %p
            _1-3
            %br
            _1-2-sm
            %br
            _1-2-xs

