%section.container
  %section.grid
    .g._1-1
      %p _1-1
  %section.grid
    .g._1-2
      %p _1-2
    .g._1-2
      %p _1-2
  %section.grid
    .g._1-3
      %p _1-3
    .g._1-3
      %p _1-3
    .g._1-3
      %p _1-3
  %section.grid
    .g._1-4
      %p _1-4
    .g._1-4
      %p _1-4
    .g._1-4
      %p _1-4
    .g._1-4
      %p _1-4
  %section.grid
    .g._1-5
      %p _1-5
    .g._1-5
      %p _1-5
    .g._1-5
      %p _1-5
    .g._1-5
      %p _1-5
    .g._1-5
      %p _1-5
  %section.grid
    .g._1-6
      %p _1-6
    .g._1-6
      %p _1-6
    .g._1-6
      %p _1-6
    .g._1-6
      %p _1-6
    .g._1-6
      %p _1-6
    .g._1-6
      %p _1-6

  %section.grid.mt1
    .g._1-2
      %p .1-2
      .grid
        .g._1-4
          %p _1-4
        .g._1-4
          %p _1-4
        .g._1-4
          %p _1-4
        .g._1-4
          %p _1-4
      .grid
        .g._1-5
          %p _1-5
        .g._1-5
          %p _1-5
        .g._1-5
          %p _1-5
        .g._1-5
          %p _1-5
        .g._1-5
          %p _1-5
    .g._1-2
      %p .1-2
      .grid
        .g._1-3
          %p _1-3
        .g._1-3
          %p _1-3
        .g._1-3
          %p _1-3
      .grid
        .g._1-6
          %p _1-6
        .g._1-6
          %p _1-6
        .g._1-6
          %p _1-6
        .g._1-6
          %p _1-6
        .g._1-6
          %p _1-6
        .g._1-6
          %p _1-6