= render "layouts/shared/html_layout_nav"

.skin-gray-dark
  .container
    %nav.clearfix{ role: "navigation"}
      %h3.h4.left.text-c-xs.m0
        %a.line3.link-white.light{ href: "#", title: "Branded Brand", data: { toggle: "tooltip" } }
          Branded
          %span.thin Brand
      %ul.list-inline.list-nav.text-r.text-l-xs.m0
        %li.m0
          %a.btn.btn-sm.btn-link.btn-link-dark.link-white.round-none.m0.px2.text-l-xs{href: "#"} Navigate
        %li.m0
          %a.btn.btn-sm.btn-link.btn-link-dark.link-white.round-none.m0.px2.text-l-xs{href: "#"} Link
        %li.m0
          %a.btn.btn-sm.btn-link.btn-link-dark.link-white.round-none.m0.px2.text-l-xs{href: "#"} Something Here
        %li.dropdown.m0
          %a.btn.btn-sm.btn-link.btn-link-dark.link-white.round-none.m0.px2.text-l-xs{"data-toggle" => "dropdown", href: "#"}
            Dropdown
            %span.small.fa.fa-caret-down
          %ul.dropdown-menu.list-unstyled
            %li.m0
              %a{ href: "#" } link
            %li.m0
              %a{ href: "#" } link
            %li.m0
              %a{ href: "#" } link

.skin-blue-soft.py4
  .container
    #collapse_test.collapse.in
      %header.py4.text-c
        %h1.h1.mb2
          Something Beautiful
          %hr
        %h2.h2.thin.dark.m0 &ldquo; And a little subhead goes here &rdquo;
    %section.text-c
      %a.btn.btn-skin.btn-lg{ href: "#collapse_test", data: { target: "#collapse_test", toggle: "collapse" } } Toggle something!

.container.contain-to-lg
  %section.grid
    .g._3-5._1-1-sm._1-1-xs
      = render "pages/html_layout/article"
      = render "pages/html_layout/article"
    .g._2-5._1-1-sm._1-1-xs
      %aside.grid
        .g._1-1.js-affix
          %nav.py2.px8.skin-gray-light.m2
            %header
              %h3.h4.dark Sidebar Items
            %ul.list-unstyled
              %li
                %a{ href: "#" } About Us
              %li
                %a{ href: "#" } Categories
              %li
                %a{ href: "#" } Allegories
              %li
                %a{ href: "#" } Cats with Wigs
              %li
                %a{ href: "#" } Contact

.skin-gray-dark
  .container
    %footer.clearfix.p2
      .grid
        .g._2-3._1-1-xs
          %ul.list-inline.list-nav.left
            %li
              %a.light.px1{ href: "#" } Home
            %li
              %a.light.px1{ href: "#" } About Us
            %li
              %a.light.px1{ href: "#" } About You
            %li
              %a.light.px1{ href: "#" } Contact Support
        .g._1-3._1-1-xs
          .line2.text-r.text-c-xs © yorthehunter & poopmouth, #{ Time.now.year }