%header.pos-abs.pos-all.text-c.skin-aqua.py8.logo-bg
  .container
    %h1.f-xl.light.mb3.thin humble kit
    %h2.h2.thin.dark
      A flexible CSS tool kit for internal applications
    %aside.m1
      %a.btn.btn-lg.btn-primary.btn-outline{ href: "/styleguide/" } View the Style Guide »
    %aside.m1
      = link_to 'View the Sandbox »', page_path('basic-testing'), class: "btn btn-lg btn-secondary btn-outline"