%header.container.bg-dark
  %nav.fl-r.text-r{ role: "navigation" }
    %ul.list-inline
      %li
        %a{href:"#"} Home
      %li
        %a{href:"#"} About
      %li
        %a{href:"#"} Github
  %section



%section.container.mb4
  %header.mb4
    %h1 Introduction
  %article


















%section.container.mb4
  %header.mb4
    %h1.h1 h1.Helo Wurld.
    %h2.h2 h2.Helo Wurld.
    %h3.h3 h3.Helo Wurld.
    %h4.h4 h4.Helo Wurld.
    %h5.h5 h5.Helo Wurld.
    %h6.h6 h6.Helo Wurld.
    %p.p   p.Helo Wurld.
    %p.p
      %a{href:"#"}a.Helo Wurld.
    %p.p
      %a.link-secondary{href:"#"}a.Helo Wurld.
  %section.mb1
    %a.btn.mr2#light-bg{href:"#"}
      %span.js-verb Show
      Guides (Light)
    %a.btn#dark-bg{href:"#"}
      %span.js-verb Show
      Guides (Dark)
  %section
    %a.btn-primary.btn.btn-xl.mr1{href:"#"} xl button
    %a.btn-secondary.btn.btn-lg.mr1{href:"#"} lg button
    %a.btn-tertiary.btn.mr1{href:"#"}        md button
    %a.btn-link._dark.btn.btn-sm.mr1{href:"#"} sm button
    %a.btn-link.btn.btn-xs{href:"#"}     xs button

%section.container.contain_to._lg.mb4
  %header.mb4
    %h1.h1 h1.Helo Wurld.
    %h2.h2 h2.Helo Wurld.
    %h3.h3 h3.Helo Wurld.
    %h4.h4 h4.Helo Wurld.
    %h5.h5 h5.Helo Wurld.
    %h6.h6 h6.Helo Wurld.
    %p.p   p.Helo Wurld.
  %section
    %a.btn.btn-xl.mr1{href:"#"} xl button
    %a.btn.btn-lg.mr1{href:"#"} lg button
    %a.btn.mr1{href:"#"}        md button
    %a.btn.btn-sm.mr1{href:"#"} sm button
    %a.btn.btn-xs{href:"#"}     xs button

%section.container.contain_to._md.mb4
  %header.mb4
    %h1.h1 h1.Helo Wurld.
    %h2.h2 h2.Helo Wurld.
    %h3.h3 h3.Helo Wurld.
    %h4.h4 h4.Helo Wurld.
    %h5.h5 h5.Helo Wurld.
    %h6.h6 h6.Helo Wurld.
    %p.p   p.Helo Wurld.
  %section
    %a.btn.btn-xl.mr1{href:"#"} xl button
    %a.btn.btn-lg.mr1{href:"#"} lg button
    %a.btn.mr1{href:"#"}        md button
    %a.btn.btn-sm.mr1{href:"#"} sm button
    %a.btn.btn-xs{href:"#"}     xs button

%section.container.contain_to._sm.mb4
  %header.mb4
    %h1.h1 h1.Helo Wurld.
    %h2.h2 h2.Helo Wurld.
    %h3.h3 h3.Helo Wurld.
    %h4.h4 h4.Helo Wurld.
    %h5.h5 h5.Helo Wurld.
    %h6.h6 h6.Helo Wurld.
    %p.p   p.Helo Wurld.
  %section
    %a.btn.btn-xl.mr1{href:"#"} xl button
    %a.btn.btn-lg.mr1{href:"#"} lg button
    %a.btn.mr1{href:"#"}        md button
    %a.btn.btn-sm.mr1{href:"#"} sm button
    %a.btn.btn-xs{href:"#"}     xs button
