= render "layouts/shared/nav"

%article.text-c
  %header.skin-blue.py4
    .container.contain-to_lg
      %section
        %header.py4
          %h1.f-xl.dark Humble Kit
          %h2.h2.thin.dark
            %a.light{ href: "#" }Don't let a framework tell you what to do.
  %footer.skin-blue-dark.py4
    .container.contain-to_lg
      %section.dark
        %ul.list-inline.mb0
          %li.h3.mr2
            %span.thin Easy to
            %strong understand
          %li.h3.mr2
            %span.thin Easy to
            %strong extend
          %li.h3.mr2
            %span.thin Easy to
            %strong change
        %p.h2
          %strong.thin Doesn't invade your turf.
        %footer.p2.skin-blue.m2
          %h3.h4.thin.light.m0 Humble Kit is a set of css classes and base styles to quick-start a project. Include what you want from the kit and make changes however you see fit.