= render "layouts/shared/nav"

%article.text-c
  %header.skin-blue.py4
    .container.contain-to_lg
      %section
        %header.py4
          %h1.f-xl.text-dark Humble Kit
          %h2.h2.light.text-dark
            %a.link-secondary{ href: "#" }Don't let a framework tell you what to do.
  %footer.skin-blue-dark.py4
    .container.contain-to_lg
      %section.text-dark
        %ul.list-inline.mb0
          %li.h3.mr2
            %span.light Easy to
            %strong understand
          %li.h3.mr2
            %span.light Easy to
            %strong extend
          %li.h3.mr2
            %span.light Easy to
            %strong change
        %p.h2
          %strong.light Doesn't invade your turf.
        %footer.p2.skin-blue.m2
          %h3.h4.light.text-light.m0 Humble Kit is a set of css classes and base styles to quick-start a project. Include what you want from the kit and make changes however you see fit.