%section.skin._tomato
  .container.contain_to._lg
    %header.pvert8.phoriz4
      .grid
        .g._1-2._1-1-md._1-1-sm._1-1-xs
          %h1.f-lg.text-muted Why?
        .g._1-2._1-1-md._1-1-sm._1-1-xs
          %h2.h3.light.text-muted Every person in the world should build a CSS framework.
          %h3.light This one is mine.

%section.skin-blue
  .container.contain_to._lg
    %article.pvert8.text-c.text-l-xs
      %header
        %h1.h2.light Designing for the web is incredibly fun.
        %h2.h2.light.text-dark So don't let a framework tell you what to do.

%section.skin-blue-soft
  .container.contain_to._lg
    .pvert3.text-c
      %ul.list-inline.mb0
        %li
          .phoriz2.pvert1.bordered
            %span.light Easy to
            %strong understand
        %li
          .phoriz2.pvert1
            %span.light Easy to
            %strong extend
        %li
          .phoriz2.pvert1
            %span.light Easy to
            %strong change
      %p.mb2
        %strong.text-light Doesn't invade your turf.


%section.skin._gray-soft
  .container.contain_to._md
    %article.phoriz4.pvert8
      %header.mb4
        %h1.h1.text-muted Doesn't invade your turf.
        %h2.h3.light.text-muted Designing for the web or mobile web is incredibly fun.
        %h3.light So don't let a framework tell you what to do.
      %ul.list-inline.text-c
        %li.mr2
          Easy to
          %strong understand
        %li.mr2
          Easy to
          %strong extend
        %li
          Easy to
          %strong modify


.grid
  .g._1-6
    .skin-blue.pvert3
      test
  .g._1-6
    .skin-green.pvert3.rounded._xs.text-c
      test
  .g._1-6
    .skin-blue.pvert3.rounded._left._sm.text-c
      test
  .g._1-6
    .skin-green.pvert3.rounded._top._md.text-c
      test
  .g._1-6
    .skin-blue.pvert3.rounded._bottom._lg.text-c
      test
  .g._1-6
    .skin-green.pvert3.rounded._right._xl.text-c
      test













%header.container.bg-dark
  %nav.fl-r.text-r{ role: "navigation" }
    %ul.list-inline
      %li
        %a{href:"#"} Home
      %li
        %a{href:"#"} About
      %li
        %a{href:"#"} Github
  %section



%section.container.mb4
  %header.mb4
    %h1.h1 Introduction
  %article


















%section.container.mb4
  %header.mb4
    %h1.h1 h1.Helo Wurld.
    %h2.h2 h2.Helo Wurld.
    %h3.h3 h3.Helo Wurld.
    %h4.h4 h4.Helo Wurld.
    %h5.h5 h5.Helo Wurld.
    %h6.h6 h6.Helo Wurld.
    %p.p   p.Helo Wurld.
    %p.p
      %a{href:"#"}a.Helo Wurld.
    %p.p
      %a.link-secondary{href:"#"}a.Helo Wurld.
  %section.mb1
    %a.btn.mr2#light-bg{href:"#"}
      %span.js-verb Show
      Guides (Light)
    %a.btn#dark-bg{href:"#"}
      %span.js-verb Show
      Guides (Dark)
  %section
    %a.btn-primary.btn.btn-xl.mr1{href:"#"} xl button
    %a.btn-secondary.btn.btn-lg.mr1{href:"#"} lg button
    %a.btn-tertiary.btn.mr1{href:"#"}        md button
    %a.btn-link._dark.btn.btn-sm.mr1{href:"#"} sm button
    %a.btn-link.btn.btn-xs{href:"#"}     xs button

%section.container.contain_to._lg.mb4
  %header.mb4
    %h1.h1 h1.Helo Wurld.
    %h2.h2 h2.Helo Wurld.
    %h3.h3 h3.Helo Wurld.
    %h4.h4 h4.Helo Wurld.
    %h5.h5 h5.Helo Wurld.
    %h6.h6 h6.Helo Wurld.
    %p.p   p.Helo Wurld.
  %section
    %a.btn.btn-xl.mr1{href:"#"} xl button
    %a.btn.btn-lg.mr1{href:"#"} lg button
    %a.btn.mr1{href:"#"}        md button
    %a.btn.btn-sm.mr1{href:"#"} sm button
    %a.btn.btn-xs{href:"#"}     xs button

%section.container.contain_to._md.mb4
  %header.mb4
    %h1.h1 h1.Helo Wurld.
    %h2.h2 h2.Helo Wurld.
    %h3.h3 h3.Helo Wurld.
    %h4.h4 h4.Helo Wurld.
    %h5.h5 h5.Helo Wurld.
    %h6.h6 h6.Helo Wurld.
    %p.p   p.Helo Wurld.
  %section
    %a.btn.btn-xl.mr1{href:"#"} xl button
    %a.btn.btn-lg.mr1{href:"#"} lg button
    %a.btn.mr1{href:"#"}        md button
    %a.btn.btn-sm.mr1{href:"#"} sm button
    %a.btn.btn-xs{href:"#"}     xs button

%section.container.contain_to._sm.mb4
  %header.mb4
    %h1.h1 h1.Helo Wurld.
    %h2.h2 h2.Helo Wurld.
    %h3.h3 h3.Helo Wurld.
    %h4.h4 h4.Helo Wurld.
    %h5.h5 h5.Helo Wurld.
    %h6.h6 h6.Helo Wurld.
    %p.p   p.Helo Wurld.
  %section
    %a.btn.btn-xl.mr1{href:"#"} xl button
    %a.btn.btn-lg.mr1{href:"#"} lg button
    %a.btn.mr1{href:"#"}        md button
    %a.btn.btn-sm.mr1{href:"#"} sm button
    %a.btn.btn-xs{href:"#"}     xs button
