%section
  %header.mb4
    %h1.h1 h1.Helo Wurld.
    %h2.h2 h2.Helo Wurld.
    %h3.h3 h3.Helo Wurld.
    %h4.h4 h4.Helo Wurld.
    %h5.h5 h5.Helo Wurld.
    %h6.h6 h6.Helo Wurld.
    %p.p   p.Helo Wurld.
  %section
    %a.btn.mr2#light-bg{href:"#"}
      %span.js-verb Show
      Guides (Light)
    %a.btn#dark-bg{href:"#"}
      %span.js-verb Show
      Guides (Dark)