%header.container.contain-to_md.m4.text-c
  %h1.h1 Typography
  %h2.h2.light.text-muted A starter kit for nice, rem-based vertical rhythm and clean, scalable type
  %aside.skin-blue-light.p2.round-md
    %p.text-c
      %strong Hot tip:
      Press
      %span.p1.skin-blue.round-sm.js-clickable-letter h
      to toggle the vertical baseline

%hr

%article.container.contain-to_md
  %section.m4
    %header
      %h2.h2 Vertical Rhythm?
    %p This concept may or may not interest you. This concept may even enrage you. As a designer, developer, writer, or enthusiast, you may just flat-out ignore this. But here goes:
    %p I've gone through great pains to inject and maintain a particular vertical rhythm in this kit. The fact that it even exists may be reason enough to totally pass on this project. But I felt it was a good challenge to take on and I am happy with the outcome.
  %section.m4
    %header
      %h3.h3 A quick definition of vertical rhythm (on the web)
    %p Vertical rhythm is achieved by keeping a consistent vertical baseline grid, typically by careful manipulation of css heights. As you can imagine, this can get tedious and unwieldy very quickly.
    %p The vertical rhythm of this application is composed of a few key typographic components, some specifically unique to web formatting: <strong>line-height</strong>, <strong>font-size</strong>, <strong>margin</strong>, and <strong>padding</strong>.
    %h4.h4.mt2 Here's what I needed for this kit:
    %ul
      %li A basic, modifiable unit as the rhythm base (default is 16px)
      %li Margin and padding that uses this base consistently
      %li Typography that uses this unit to create a scale
  %section.m4
    %header
      %h3.h3 So what does this actually look like?
    %p You should get a sense for the vertical rhythm just by navigating around the site. Every aspect of the site is (automagically) rhythmic because it all is scaled to the base unit.
    %p
      %strong See for yourself:
      Click, touch, or type
      %span.px1.pyhalf.skin-blue.round-sm.js-clickable-letter h
      to view a graphical interpretation of the vertical rhythm baseline. All of the words, margins, and padding on the page should fall within that magical vertical grid.
  %section.m4
    %header
      %h3.h3 Why is this worth having?
    %p You should now have a pretty solid set of guidelines for a vertical rhythm and it should happen automatically. If you follow the conventions of this kit, you'll get a pretty decent vertical rhythm going and you won't have to meticulously craft pixel-by-pixel layouts, or write sloppy, bloat-inducing css. It's all built into the kit.

%article.container
  %section.m4
    %header
      %h2.h2 In practice
  %section
    - ["h1", "h2", "h3", "h4", "h5", "h6"].each do |h|
      = content_tag h, class:"m0 clearfix #{h}" do
        #{h}. Heading
        %small &lt;small&gt; text
        .right.text-muted.light muted, light text
      %hr
    %p.p
      p. Paragraph
      %small &lt;small&gt; text
      .right.text-muted.light muted, light text



%section.container.contain-to_md

  %article.m4
    %header
      %h1.h1 Alice in Wonderland
      %h2.h2.text-muted.mb1
        by Lewis Carroll
      %h3.h4.text-muted.light Random Excerpts
    %p 'I want a clean cup,' interrupted the Hatter: 'let's all move one place  on.'
    %p He moved on as he spoke, and the Dormouse followed him: the March Hare  moved into the Dormouse's place, and Alice rather unwillingly took  the place of the March Hare. The Hatter was the only one who got any  advantage from the change: and Alice was a good deal worse off than  before, as the March Hare had just upset the milk-jug into his plate.
    %p Alice did not wish to offend the Dormouse again, so she began very  cautiously: 'But I don't understand. Where did they draw the treacle  from?'

%section.skin-gray-soft
  .container
    %h1.f-lg.m0.p4.text-c SPLAT!

%section.container.contain-to_md

  %article.m4
    %header
      %h1.h2.light And so it goes...
    %p 'I'd rather not,' the Cat remarked.
    %p 'Don't be impertinent,' said the King, 'and don't look at me like that!'  He got behind Alice as he spoke.
    %p 'A cat may look at a king,' said Alice. 'I've read that in some book,  but I don't remember where.'
    %img.img.left.scale10{src: "http://placekitten.com/g/500/300"}
    %p 'Well, it must be removed,' said the King very decidedly, and he called  the Queen, who was passing at the moment, 'My dear! I wish you would  have this cat removed!'
    %p The Queen had only one way of settling all difficulties, great or small.  'Off with his head!' she said, without even looking round.

  %hr

  %article.m4
    %header
      %h1.h2 Of the falling of the fifth cylinder I have presently
    %img.img.right.scale20{src: "http://placekitten.com/g/400/400"}
    %p Of the falling of the fifth cylinder I have presently to tell.  The sixth star fell at Wimbledon.  My brother, keeping watch beside the women in the chaise in a meadow, saw the green flash of it far beyond the hills.  On Tuesday the little party, still set upon getting across the sea, made its way through the swarming country towards Colchester. The news that the Martians were now in possession of the whole of London was confirmed.  They had been seen at Highgate, and even, it was said, at Neasden.  But they did not come into my brother's view until the morrow.
    %p.skin-gray-dark.p2
      That day the
      %a.link-secondary{href:"#"}scattered multitudes began to realise
      the urgent need of provisions.
    %p As they grew hungry the rights of property ceased to be regarded.  Farmers were out to defend their cattle-sheds, granaries, and ripening root crops with arms in their hands. A number of people now, like my brother, had their faces eastward, and there were some desperate souls even going back towards London to get food. These were chiefly people from the northern suburbs, whose knowledge of the Black Smoke came by hearsay.  He heard that about half the members of the government had gathered at Birmingham, and that enormous quantities of high explosives wereh being prepared to be used in automatic mines across the Midland counties.head!' she said, without even looking round.

  %hr

  %section.grid.m4
    .g._1-2
      %ul
        %li It was nearly six o'clock, but only grey imperfect misty dawn, when we drew nigh the wharf
        %li "There are some sailors running ahead there, if I see right," said I to Queequeg
        %li It was Elijah
        %li "Going aboard?" "Hands off, will you," said I
    .g._1-2
      %ul
        %li "Stop here," said I; "you are safe here"; and I started off at once for the Spotted Dog, for I knew the landlord had a horse and dog cart
        %li I ran, for I perceived that in a moment everyone upon this side of the hill would be moving
        %li I found him in his bar, quite unaware of what was going on behind his house
        %li A man stood with his back to me, talking to him

  %hr

  %article.m4
    %header
      %h1.h2 Grid Exercise
    %section.grid.m2
      .g._1-2._1-1-xs
        %img.img.left.scale10{src: "http://placekitten.com/g/100/100"}
        %p That day the scattered multitudes began to realise the urgent need of provisions.  As they grew hungry the rights of property ceased to be regarded.  Farmers were out to defend their cattle-sheds, granaries, and ripening root crops with arms in their hands.  A number of people now, like my brother, had their faces eastward, and there were some desperate souls even going back towards London to get food. These were chiefly people from the northern suburbs, whose knowledge of the Black Smoke came by hearsay.  He heard that about half the members of the government had gathered at Birmingham, and that enormous quantities of high explosives wereh being prepared to be used in automatic mines across the Midland counties.head!' she said, without even looking round.
      .g._1-2._1-1-xs
        %p Of the falling of the fifth cylinder I have presently to tell.  The sixth star fell at Wimbledon.  My brother, keeping watch beside the women in the chaise in a meadow, saw the green flash of it far beyond the hills.  On Tuesday the little party, still set upon getting across the sea, made its way through the swarming country towards Colchester. The news that the Martians were now in possession of the whole of London was confirmed.  They had been seen at Highgate, and even, it was said, at Neasden.  But they did not come into my brother's view until the morrow.
        %aside.grid
          .g._1-2._1-1-xs
            %p.h4.p2 A number of people now, like my brother
          .g._1-2._1-1-xs
            %p.h4.p2 A number of people now

    %section.grid
      .g._1-4._1-2-sm._1-1-xs
        %p Seen from the Pequod's deck, then, as she would rise on a high hill of the sea, this host of vapoury spouts, individually curling up into the air, and beheld through a blending atmosphere of bluish haze, showed like the thousand cheerful
        %img.img.scale7{src: "http://placekitten.com/g/100/100"}
      .g._1-4._1-2-sm._1-1-xs
        %p Seen from the Pequod's deck, then, as she would rise on a high hill of the sea, this host of vapoury spouts, individually curling up into the air, and beheld through a blending atmosphere of bluish haze, showed like the thousand cheerful
        %img.img.scale10{src: "http://placekitten.com/g/200/200"}
      .g._1-4._1-2-sm._1-1-xs
        %p Seen from the Pequod's deck, then, as she would rise on a high hill of the sea, this host of vapoury spouts, individually curling up into the air, and beheld through a blending atmosphere of bluish haze, showed like the thousand cheerful
        %img.img.scale15{src: "http://placekitten.com/g/200/400"}
      .g._1-4._1-2-sm._1-1-xs
        %p Seen from the Pequod's deck, then, as she would rise on a high hill of the sea, this host of vapoury spouts, individually curling up into the air, and beheld through a blending atmosphere of bluish haze, showed like the thousand cheerful
        %img.img.scale20{src: "http://placekitten.com/g/300/300"}
