%section
  %header
    %h2 Aligned Form
  %form.form-stacked
    %fieldset.grid.mb1
      .g._1-2.text-r
        %label.line3 Username
      .g._1-2
        %input{ type: "text" }
        %aside.text-help
          This is an aside with some helpful text
    %fieldset.grid.mb1
      .g._1-2.text-r
        %label.line3 Password
      .g._1-2
        %input{ type: "password" }
    %fieldset.grid.mb1
      .g._1-2.text-r
        %label.line3 Email Address
      .g._1-2
        %input{ type: "text" }
    %fieldset.grid.mb1
      .g._1-2.text-r
        %label.line3 Here's a button
      .g._1-2
        %input.btn.btn-sm.btn-primary{ type: "button", value: "Button" }
    %fieldset.grid.mb1
      .g._1-2.text-r
        %label.line3 Supercalifragilistic Label
      .g._1-2
        %input{ placeholder: "Enter something here...", type: "text" }

      %button.mr1{type: "submit"} Submit
      %label.line4
        %input{type: "checkbox"}
        Remember Me