%section
  %header
    %h2 Aligned Form
  %form
    %fieldset
      %label Username
      %input{placeholder: "Username", type: "text"}/
      %aside
        This is an aside
      %label Password
      %input{placeholder: "Password", type: "password"}/
      %label Email Address
      %input{placeholder: "Email Address", type: "text"}/
      %label Here's a button
      %input{type: "button", value: "Button"}/
      %label Supercalifragilistic Label
      %input{placeholder: "Enter something here...", type: "text"}/
      %label
        %input{type: "checkbox"}/
        Remember Me
      %button{type: "submit"} Submit