%section
  %header
    %h2 Aligned Form
  %form.form-stacked
    %fieldset.grid.mb1
      .g._1-4._1-1-xs.text-r.text-l-xs
        %label.line3 Single line
      .g._1-2._1-1-xs
        %input{ type: "text" }
        %aside.text-muted
          This is an aside with some helpful text
    %fieldset.grid.mb1
      .g._1-4._1-1-xs.text-r.text-l-xs
        %label.line3 Text box
      .g._1-2._1-1-xs
        %textarea
    %fieldset.grid.mb1
      .g._1-4._1-1-xs.text-r.text-l-xs
        %label.line3 Select
      .g._1-2._1-1-xs
        %select
          %option Option one
    %fieldset.grid.mb1
      .g._1-4._1-1-xs.text-r.text-l-xs
        %label.line3 Some buttons
      .g._1-2._1-1-xs
        %input.btn.btn-sm.btn-primary{ type: "button", value: "Button" }>
        %input.btn.btn-sm{ type: "button", value: "Button" }>
        %input.btn.btn-sm.btn-secondary{ type: "button", value: "Button" }>
    %fieldset.grid.mb1
      .g._1-4._1-1-xs.text-r.text-l-xs
        %label.line3 Placeholder
      .g._1-2._1-1-xs
        %input{ placeholder: "Enter something here...", type: "text" }
    %fieldset.grid.mb1
      .g._1-4._1-1-xs.text-r.text-l-xs
      .g._1-2._1-1-xs
        %button.btn.btn-primary{ type: "submit" } Submit
        %label.line4
          %input{ type: "checkbox" }
          Remember Me