%section
  %header
    %h2 Default Form
  %form
    %fieldset
      %legend A default inline form.
      %input{placeholder: "Email", type: "text"}/
      %input{placeholder: "Password", type: "password"}/
      %label
        %input{type: "checkbox"}Remember me
      %button.pure-button{type: "submit"} Sign in