%section
  %header
    %h2 Default Form
  %form
    %fieldset
      %input{placeholder: "Email", type: "text"}/
      %input{placeholder: "Password", type: "password"}/
      %label
        %input{type: "checkbox"}Remember me
      %button.btn.btn-sm.btn-primary{type: "submit"} Sign in