%section
  %header
    %h2 Grouped Inputs
  %form
    %fieldset.input-group
      %input{placeholder: "Username", type: "text"}/
      %input{placeholder: "Password", type: "text"}/
      %input{placeholder: "Email", type: "text"}/
    %fieldset.input-group
      %input.pure-input-1-3{placeholder: "Another Group", type: "text"}/
      %input.pure-input-1-3{placeholder: "More Stuff", type: "text"}/
      %button.pure-button.pure-input-1-3{type: "submit"} Sign in