%section
  %header
    %h2 Grouped Inputs
  %form
    %fieldset.input-group
      %input{placeholder: "Username", type: "text"}/
      %input{placeholder: "Password", type: "text"}/
      %input{placeholder: "Email", type: "text"}/
    %fieldset.input-group
      %input{placeholder: "Another Group", type: "text"}/
      %input{placeholder: "More Stuff", type: "text"}/
      %button{type: "submit"} Sign in