%section
  %header
    %h2 Input Sizing
  %form
    .grid
      .g._1-4
        %input._1-1{placeholder: "._1-4", type: "text"}
      .g._3-4
        %input._1-1{placeholder: "._3-4", type: "text"}
    .grid
      .g._1-2
        %input._1-1{placeholder: "._1-2", type: "text"}
      .g._1-2
        %input._1-1{placeholder: "._1-2", type: "text"}
    .grid
      .g._1-4
        %input._1-1{placeholder: "._1-4", type: "text"}
      .g._1-2
        %input._1-1{placeholder: "._1-2", type: "text"}
      .g._1-4
        %input._1-1{placeholder: "._1-4", type: "text"}
    .grid
      .g._1-5
        %input._1-1{placeholder: "._1-5", type: "text"}
      .g._2-5
        %input._1-1{placeholder: "._2-5", type: "text"}
      .g._2-5
        %input._1-1{placeholder: "._2-5", type: "text"}
      .g._1-1
        %input._1-1{placeholder: "._1-1", type: "text"}