%section
  %header
    %h2 Input Sizing
  %form
    %fieldset
      %input._1-1{placeholder: "._1-1", type: "text"}
    %fieldset
      %input._2-3{placeholder: "._2-3", type: "text"}
    %fieldset
      %input._1-2{placeholder: "._1-2", type: "text"}
    %fieldset
      %input._1-3{placeholder: "._1-3", type: "text"}
    %fieldset
      %input._1-4{placeholder: "._1-4", type: "text"}
  %form
    .grid
      .g._1-4
        %input._1-1{placeholder: "._1-4", type: "text"}
      .g._3-4
        %input._1-1{placeholder: "._3-4", type: "text"}
    .grid
      .g._1-2
        %input._1-1{placeholder: "._1-2", type: "text"}
      .g._1-2
        %input._1-1{placeholder: "._1-2", type: "text"}
    .grid
      .g._1-4
        %input._1-1{placeholder: "._1-4", type: "text"}
      .g._1-2
        %input._1-1{placeholder: "._1-2", type: "text"}
      .g._1-4
        %input._1-1{placeholder: "._1-4", type: "text"}
    .grid
      .g._1-5
        %input._1-1{placeholder: "._1-5", type: "text"}
      .g._2-5
        %input._1-1{placeholder: "._2-5", type: "text"}
      .g._2-5
        %input._1-1{placeholder: "._2-5", type: "text"}
      .g._1-1
        %input._1-1{placeholder: "._1-1", type: "text"}