%section
  %header
    %h2 Stacked Form
  %form.form-stacked
    %fieldset
      .mb1
        %label First Name
        %input{type: "text"}
      .mb1
        %label E-Mail
        %input{required: true, type: "email"}
        %aside
          %em.text-help This is a required field.
      .mb1
        %label State
        %select
          %option Option Number 1
          %option 2nd opt
          %option This is long option three
          %option Something 4
          %option five
      .mb1
        %label
          %input{type: "checkbox"}
          I've read the terms and conditions
      .mb1
        %label
          %input{type: "radio"}
          I've read the terms and conditions
      %footer
        %button.btn.btn-primary.btn-sm{type: "submit"} Submit
        %button.btn.btn-link.btn-sm{type: "reset"} Cancel