%section
  %header
    %h2 Invalid Inputs
  %form
    %input{placeholder: "Requires an email", required: "", type: "email"}/
%section
  %header
    %h2 Disabled Inputs
  %form
    %input.pure-input-xlarge{disabled: "disabled", placeholder: "Disabled input here...", type: "text", value: "Foo bar baz"}/
%section
  %header
    %h2 Readonly Inputs
  %form
    %input.pure-input-xlarge{placeholder: "Readonly input here...", readonly: "readonly", type: "text", value: "Foo bar baz"}/