%section
  %header
    %h2 Stacked Form
  %form.form-stacked
    %fieldset
      %label First Name
      %input{type: "text"}/
      %label Password
      %input{type: "password"}/
      %label E-Mail
      %input{required: "", type: "email"}/
      %aside This is a required field.
      %label City
      %input{type: "text"}/
      %aside This is another required field.
      %label State
      %select
        %option Option Number 1
        %option 2nd opt
        %option This is long option three
        %option Something 4
        %option five
      %label
        %input{type: "checkbox"}/
        I've read the terms and conditions
      %footer
        %button.btn.btn-primary{type: "submit"} Submit
        %button.btn.btn-link{type: "reset"} Cancel