%section
  %header
    %h2 Stacked Form
  %form.form-stacked
    %fieldset
      .mb1
        %label First Name
        %input{type: "text"}
      .mb1
        %label Password
        %input{type: "password"}
      .mb1
        %label E-Mail
        %input{required: "", type: "email"}
        %aside This is a required field.
      .mb1
        %label City
        %input{type: "text"}
        %aside This is another required field.
      .mb1
        %label State
        %select
          %option Option Number 1
          %option 2nd opt
          %option This is long option three
          %option Something 4
          %option five
      .mb1
        %label
          %input{type: "checkbox"}
          I've read the terms and conditions
      .mb1
        %label
          %input{type: "radio"}
          I've read the terms and conditions
      %footer
        %button.btn.btn-primary{type: "submit"} Submit
        %button.btn.btn-link{type: "reset"} Cancel