$user-font-family-sans-serif: "Source Sans Pro" !default;
/* 1 */

// Buttons variables

$btn-inset-option:       true;
$btn-border-option:      true;
$btn-radius-option:      true;
$btn-text-shadow-option: true;
$btn-transition-option:  true;
$btn-hover-bg-option:    true;

$btn-bg-link: rgba(0,0,0,0.1);