
// Buttons variables

$btn-inset-option:       true;
$btn-border-option:      true;
$btn-radius-option:      true;
$btn-text-shadow-option: true;
$btn-transition-option:  true;
$btn-hover-bg-option:    true;