
$blue: #269;
$yellow: #ffec46;
$green: #0fa359;

$gray-lightest: #edf0f7;
$gray-light: #e2d9d3;
$gray-dark: #5d5955;
$gray-darkest: #1d1e22;



@mixin skin($color) {
  $skin-bg: $color;
  $skin-border-color: desaturate(darken($skin-bg, 7), 14);
  $skin-color-base:   lighten($skin-bg, 30);
  $skin-color-muted:  rgba(255,255,255,0.3);
  $skin-color-dark:   darken($skin-bg, 20);
  $skin-color-light:  lighten($skin-bg, 50);

  background-color: $skin-bg;
  color: $skin-color-base;

  .btn-skin {
    background-color: $skin-bg;
    border-color: $skin-color-base;
    color: $skin-color-base;

    &:hover {
      border-color: $skin-color-light;
      color: white;
    }
  }

  p, .p       { color: $skin-color-base;  }
  .text-muted { color: $skin-color-muted; }
  .text-light { color: $skin-color-light; }
  .text-dark  { color: $skin-color-dark;  }
  .bordered,
  &.bordered  { border-color: $skin-border-color; }
}

.skin-green {
  @include skin($green);
}





$blue-dark: #1c4372;
.skin-blue-dark {
  $skin-bg: $blue-dark;
  $skin-border-color: desaturate(darken($skin-bg, 7), 14);
  $skin-color-base:   lighten($skin-bg, 30);
  $skin-color-muted:  rgba(255,255,255,0.3);
  $skin-color-dark:   darken($skin-bg, 20);
  $skin-color-light:  lighten($skin-bg, 50);

  background-color: $skin-bg;
  color: $skin-color-base;

  .btn-skin {
    background-color: $skin-bg;
    border-color: $skin-color-base;
    color: $skin-color-base;

    &:hover {
      border-color: $skin-color-light;
      color: white;
    }
  }

  p, .p       { color: $skin-color-base;  }
  .text-muted { color: $skin-color-muted; }
  .text-light { color: $skin-color-light; }
  .text-dark  { color: $skin-color-dark;  }
  .bordered,
  &.bordered  { border-color: $skin-border-color; }
}


.skin-blue {
  $skin-bg: $blue;
  $skin-border-color: desaturate(darken($skin-bg, 7), 14);
  $skin-color-base:   lighten($skin-bg, 30);
  $skin-color-muted:  rgba(255,255,255,0.3);
  $skin-color-dark:   darken($skin-bg, 20);
  $skin-color-light:  lighten($skin-bg, 50);

  background-color: $skin-bg;
  color: $skin-color-base;

  .btn-skin {
    background-color: $skin-bg;
    border-color: $skin-color-base;
    color: $skin-color-base;

    &:hover {
      border-color: $skin-color-light;
      color: white;
    }
  }

  p, .p       { color: $skin-color-base;  }
  .text-muted { color: $skin-color-muted; }
  .text-light { color: $skin-color-light; }
  .text-dark  { color: $skin-color-dark;  }
  .bordered   { border-color: $skin-border-color; }
}


$blue-soft: #6db0da;
.skin-blue-soft {
  $skin-bg: $blue-soft;
  $skin-border-color: desaturate(darken($skin-bg, 7), 14);
  $skin-color-base:   lighten($skin-bg, 30);
  $skin-color-muted:  rgba(255,255,255,0.3);
  $skin-color-dark:   darken($skin-bg, 30);
  $skin-color-light:  lighten($skin-bg, 50);

  background-color: $skin-bg;
  color: $skin-color-base;

  p, .p       { color: $skin-color-base;  }
  .text-muted { color: $skin-color-muted; }
  .text-light { color: $skin-color-light; }
  .text-dark  { color: $skin-color-dark;  }
  .bordered   { border-color: $skin-border-color; }
}


.skin {
  &._gray-soft {
    background-color: $gray-light;
    color: $gray-dark;

    p, .p {
      color: $gray-dark;
    }

    .text-muted {
      color: lighten($gray-dark,20%);
    }
  }

  &._tomato {
    $tomato: #ff4e35;

    background-color: $tomato;
    color: $gray-lightest;

    p, .p {
      color: $gray-lightest;
    }

    .text-muted {
      color: lighten($tomato,20%);
    }
  }


  &._gray-dark {
    background-color: $gray-dark;
    color: $gray-lightest;

    p {
      color: $gray-lightest;
    }
  }
}