@mixin skin($color) {
  $skin-bg: $color;
  $skin-border-color:  desaturate(darken($skin-bg, 7), 14);
  $skin-color-dark:    desaturate(darken($skin-bg, 25), 14);
  $skin-color-button:  saturate(darken($skin-bg, 20), 14);
  $skin-color-neutral: desaturate(lighten($skin-bg, 30), 28);
  $skin-color-light:   lighten($skin-bg, 50);

  $skin-color-base:    $skin-color-light;
  $skin-color-muted:   $skin-color-neutral;

  background-color: $skin-bg;
  color: $skin-color-base;

  .btn-skin,
  .btn-skin-dark {
    font-weight: $font-weight-base;
    border-width: 2px;

    &:hover {
      background-color: $skin-bg;
      border-color: $skin-color-light;
      color: white;
    }
  }

  .btn-skin {
    background-color: $skin-bg;
    border-color: $skin-color-button;
    color: $skin-color-button;
  }

  .btn-skin-dark {
    background-color: $skin-color-button;
    border-color: darken($skin-color-button,10);
    color: $skin-color-base;
  }

  p, .p       { color: $skin-color-base;  }
  .text-muted { color: $skin-color-muted; }
  .text-light { color: $skin-color-light; }
  .text-dark  { color: $skin-color-dark;  }
  .bordered,
  &.bordered  { border-color: $skin-border-color; }
}


$blue: #366e99;
$yellow: #ffec46;
$green: #0fa359;

$gray-lightest: #edf0f7;
$gray-light: #e2d9d3;
$gray-soft: #afbbc6;
$gray-dark: #424953;
$gray-darkest: #25272c;

$blue-dark: #284c72;
$blue-soft: #86b8da;

$red: #b70808;
$orange: #e39215;
$tomato: #e73c36;


.skin-red          { @include skin($red); }
.skin-orange       { @include skin($orange); }
.skin-tomato       { @include skin($tomato); }
.skin-green        { @include skin($green); }
.skin-blue-dark    { @include skin($blue-dark); }
.skin-blue         { @include skin($blue); }
.skin-blue-soft    { @include skin($blue-soft); }
.skin-gray-dark    { @include skin($gray-dark); }
.skin-gray-darkest { @include skin($gray-darkest); }
.skin-gray-soft    { @include skin($gray-soft); }