/* Custom variables
   ========================================================================== */
// Turn off custom variables for barebones humble kit
//@import "custom_variables.scss";

$user-font-family-sans-serif: "Roboto";


/* Fontawesome - I'm using fontawesome for icons. Big whoop. Wanna fight about it?
   ========================================================================== */
@import "fontawesome/css/font-awesome.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100);


/* Core - this is what the bower package will import
   ========================================================================== */
@import "humble_kit.scss";


// Background for testing vertical rhythm
@import "site/bg-testing";

// Bootstrap testing bits
@import "site/bootstrap_js";

.flex-test {
  @extend %flex-container !optional;
  width: 500px; height: 250px; outline: 1px solid black;

  .flex-item {
    outline: 1px solid red;

    &:first-child {

    }

    &:nth-child(3) {
      background-color: pink;
    }

  }
}

.margin-test {
  background-color: rgba(0,0,0,0.1);
}
