/* Container
   ========================================================================== */
/**
* The container class, when included, will constrain the width of its
* children, based on defined media breakpoints.
*
* 1. Include a $container-max if you want to constrain the maximum allowable
*    width for the container, regardless of breakpoint constraints.
*/

$container-pad: 10px;
$container-sm:  ($media-width-xs - ($container-pad*2)) !default;
$container-md:  ($media-width-sm - ($container-pad*2)) !default;
$container-lg:  ($media-width-md - ($container-pad*2)) !default;
$container-xl:  ($media-width-lg - ($container-pad*2)) !default;

$container-max: null !default;

.container {
  padding: 0 $container-pad;
  margin: auto;
  max-width: $container-max;

  @include at_breakpoint(xl) {
    width: $container-xl;
  }
  @include at_breakpoint(ltlg) {
    width: $container-lg;
  }
  @include at_breakpoint(ltmd) {
    width: $container-md;
  }
  @include at_breakpoint(ltsm) {
    width: $container-sm;
  }
  @include at_breakpoint(xs) {
    width: 100%;
  }

  &.contain_to {
    &._lg { max-width: $container-lg; }
    &._md { max-width: $container-md; }
    &._sm { max-width: $container-sm; }
  }
}


.m1 {
  margin-top:    1rem;
  margin-bottom: 1rem;
}
.m2 {
  margin-top:    2rem;
  margin-bottom: 2rem;
}
.m3 {
  margin-top:    3rem;
  margin-bottom: 3rem;
}
.m4 {
  margin-top:    4rem;
  margin-bottom: 4rem;
}
.m5 {
  margin-top:    5rem;
  margin-bottom: 5rem;
}
.mb1  { margin-bottom: 1rem; }
.mb2  { margin-bottom: 2rem; }
.mb3  { margin-bottom: 3rem; }
.mb4  { margin-bottom: 4rem; }
.mb5  { margin-bottom: 5rem; }
.mb6  { margin-bottom: 6rem; }
.mb7  { margin-bottom: 7rem; }
.mb8  { margin-bottom: 8rem; }
.mb9  { margin-bottom: 9rem; }
.mb10 { margin-bottom: 10rem; }
.mr1  { margin-right:  1rem; }
.mr2  { margin-right:  2rem; }
.mr3  { margin-right:  3rem; }
.mr4  { margin-right:  4rem; }