/* ==========================================================================
   Styles for testing purposes
   ========================================================================== */

$blue: #269;

.bg-blueprint {
  $blueprint: $blue;

  background-color:transparent;
  background-image:
  linear-gradient(rgba($blueprint, 0.1) 1px, transparent 1px),
  linear-gradient(90deg, rgba($blueprint, 0.1) 1px, transparent 1px);
  background-size:1rem 1rem, 1rem 1rem;

  &.dark-version {
    background-color:$blueprint;
    background-image:
    linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);

    div, h1, h2, h3, h4, h5, h6, p, section, article, header, footer {
      outline: 1px solid rgba(255,255,255,0.5);
      color: #e8e9f2;
      background-color: rgba(255,255,255,0.2);
    }
  }

  div, h1, h2, h3, h4, h5, h6, p, section, article, header, footer {
    outline: 1px solid rgba($blueprint, 0.3);
    background-color: rgba($blueprint, 0.1);
  }
}

.btn {
  background-color: $blue;
  color: white;
  letter-spacing: 1.5px;
  padding: 1.5rem 3rem;
  border: none;
  text-decoration: none;
  @include size_and_line($f5, rem);
  @extend .light;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;

  &:hover {
    background-color: lighten($blue,10%);
    text-shadow: 0 0 15px white, 0 0 25px white;
  }
  &:active {
    background-color: darken($blue,10%);
  }

  &.btn-xl {
    @include size_and_line($f3, rem);
    padding: 2rem 6rem;
  }

  &.btn-lg {
    @include size_and_line($f4, rem);
    padding: 1.5rem 4.5rem;
  }

  &.btn-sm {
    @include size_and_line($f5, rem);
    padding: 1rem 1.5rem;
  }

  &.btn-xs {
    @include size_and_line($f6, rem);
    padding: 0.5rem 1rem;
  }
}

@include at-breakpoint(xs) {
  .btn {
    width: 100%;
    padding-left:  0 !important;
    padding-right: 0 !important;
    margin-left:   0 !important;
    margin-right:  0 !important;
  }
}