/* Font basics
   ========================================================================== */

$font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
$font-family-serif:       Georgia, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif !default;

$font-weight-base:        400 !default;
$font-weight-light:       100 !default;
$font-weight-heavy:       700 !default;

$font-color-base: #444;


/* Headings
   ========================================================================== */

$headings-font-family:    $font-family-serif !default;
$headings-font-weight:    $font-weight-heavy !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;
$headings-weight:         $font-weight-heavy !default;

$f1:     exponent($type-ratio, 8);
$f2:     exponent($type-ratio, 6);
$f3:     exponent($type-ratio, 3);
$f4:     exponent($type-ratio, 1);
$f5:     exponent($type-ratio, 0);
$f6:     exponent($type-ratio, -1);
$f-sm:   exponent($type-ratio, -2);
$f-xs:   exponent($type-ratio, -3);
$f-lg:   exponent($type-ratio, 10);


/* ==========================================================================
   Typography
   ========================================================================== */

body    {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  color:       $font-color-base;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  font-weight: $headings-weight;
  margin-bottom: 1rem;
}

.light {
  font-weight: $font-weight-light;
}

h1,.h1,.f1 {
  font-size: $f1*1rem;
  line-height: ceil($f1)*1rem;
}

h2,.h2,.f2 {
  font-size: $f2*1rem;
  line-height: ceil($f2)*1rem;
}

h3,.h3,.f3 {
  font-size: $f3*1rem;
  line-height: ceil($f3)*1rem;
}

h4,.h4,.f4,
p,.p, body,
dl,ol,ul {
  font-size: $f4*1rem;
  line-height: ceil($f4)*1rem;
}

h5,.h5,.f5 {
  font-size: $f5*1rem;
  line-height: ceil($f5)*1rem;
}

h6,.h6,.f6 {
  font-size: $f6*1rem;
  line-height: ceil($f6)*1rem;
}
