/* Font basics
   ========================================================================== */

$font-size-base:          16px !default;

$font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
$font-family-serif:       Georgia, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif !default;

$font-weight-base:        400 !default;
$font-weight-light:       100 !default;
$font-weight-heavy:       700 !default;
$font-color-base:         #444 !default;


/* Headings
   ========================================================================== */

$headings-font-family:    $font-family-serif !default;
$headings-font-weight:    $font-weight-heavy !default;
$headings-color:          inherit !default;
$headings-weight:         $font-weight-heavy !default;

$f-xl:   exponent($type-ratio, 11);
$f-lg:   exponent($type-ratio, 9);
$f1:     exponent($type-ratio, 7);
$f2:     exponent($type-ratio, 5);
$f3:     exponent($type-ratio, 3);
$f4:     exponent($type-ratio, 1);
$f5:     exponent($type-ratio, 0);
$f6:     exponent($type-ratio, -1);
$f-sm:   exponent($type-ratio, -2);
$f-xs:   exponent($type-ratio, -3);


/* ==========================================================================
   Typography
   ========================================================================== */

body    {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  color:       $font-color-base;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  font-weight: $headings-weight;
  margin-bottom: 1rem;
  color: $headings-color;
}

.light {
  font-weight: $font-weight-light;
}

h1,.h1,.f1 {
  @include size_and_line($f1, rem);
}

h2,.h2,.f2 {
  @include size_and_line($f2, rem);

}

h3,.h3,.f3 {
  @include size_and_line($f3, rem);

}

h4,.h4,.f4,
p,.p,body,
dl,ol,ul {
  @include size_and_line($f4, rem);

}

h5,.h5,.f5 {
  @include size_and_line($f5, rem);

}

h6,.h6,.f6 {
  @include size_and_line($f6, rem);
}


/* Responsive text
   ========================================================================== */

@include at-breakpoint(ltmd) {
  .h1 {
    @include size_and_line((exponent($type-ratio, 7)), rem);
  }
  .h2 {
    @include size_and_line((exponent($type-ratio, 5)), rem);
  }
  .h3 {
    @include size_and_line((exponent($type-ratio, 2)), rem);
  }
}

@include at-breakpoint(ltsm) {
  .h1 {
    @include size_and_line($f2, rem);
  }
  .h2 {
    @include size_and_line($f3, rem);
  }
  .h3, .p, .h4, .h5 {
    @include size_and_line($f4, rem);
  }
}