/* ==========================================================================
   Typography
   ========================================================================== */

/* Basic font variables
   ========================================================================== */

/**
* 1. User font family definition. Add a font or fonts as a variable and it
*    will be injected into the site font family (serif or sans)
*/

$user-font-family-sans-serif: "Source Sans Pro" !default;
$user-font-family-serif:       null !default;

$font-family-sans-serif:  $user-font-family-sans-serif, "Helvetica Neue", Helvetica, sans-serif;
$font-family-serif:       $user-font-family-serif, Georgia, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif !default;

$font-color-base:         #444 !default;

/* Define the "small" element and ".small" class. Defaults to 65% of parent size. */
$small-size:       65  !default;
$small-size-unit:  "%" !default;

$text-muted-color: lighten($font-color-base, 33%);
$hr-color:         rgba(0,0,0,0.1) !default;


/* Headings variables
   ========================================================================== */

$headings-font-family:    $font-family-serif !default;
$headings-font-weight:    $font-weight-heavy !default;
$headings-color:          inherit !default;
$headings-weight:         $font-weight-heavy !default;


/* Font size variables
   ========================================================================== */

/**
* I choose not to use classes or variables with the greek naming convention
* (i.e. ".alpha, $beta, etc.")
* I find it easier not to have to learn new languages (however common) nor
* have to think about (however briefly) a class and its implication.
*
* In this numerical naming convention, it's easier to associate lower
* numbers with larger text, simply because that convention is already in
* place with heading markup (h1 - h6).
*
* Also included here are a few more font sizes with the sm, md, lg
* naming convention.
*
* 1. Expressed as progressive steps in scale.
*/

$f-xl:  11; /* 1 */
$f-lg:  9;
$f1:    7;
$f2:    5;
$f3:    3;
$f4:    1;
$f-md:  $f4;
$f5:    0;
$f6:   -1;
$f-sm: -2;
$f-xs: -3;


/* Typography basics
   ========================================================================== */

body    {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  color:       $font-color-base;
}

strong {
  font-weight: $font-weight-heavy;
}

em {
  font-style: italic;
}


/* Heading and heading classes
   ========================================================================== */

/**
* Headings are given some default styling to give them a typographical
* hierarchy. There is more than one school of thought when using headings in
* markup. See this example:
*
* <header>
*   <h1>This is a giant header</h1>
* </header>
*
* Your output is dependent on the styles given to h1{}. If you would rather
* present your h1 as a smaller font, maybe more like an h2, then your markup
* could look like this:
*
* <header>
*   <h1 class="h2">This is a moderately big header.</h1>
* </header>
*
* Semantically, you are saying "this heading is as important as an h1, but
* should present itself as an h2".
*
* Despite being a semantically correct and easily identifiable solution, it
* doesn't always sit well in a shared development environment.
* Therefore:
*
* <header>
*   <h2>This is a moderately big header, too.</h2>
* </header>
*
* The code above works, but doesn't say as much semantically. YMMV.
*
* 1. The .p class can be used to describe paragraph text when an actual <p>
*    isn't used. E.g. <div class="p">Text goes here.</div>
* 2. The last paragraph in a group of paragraphs (or single paragraph) will not
*    have a margin below it. The complicated "not" selector will ignore this
*    declaration for the margin-bottom (.mbN) classes, allowing the margin-bottom
*    to instead by managed by the class.
*    We use the :not selector because the last-of-type selector, when attached
*    to the <p> or .p, is more specific than the .mbN class.
*/

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  font-weight: $headings-weight;
  color: $headings-color;
  text-rendering: optimizeLegibility;
}

h1,.h1 {
  @include size_and_line($f1, rem);
}

h2,.h2 {
  @include size_and_line($f2, rem);
}

h3,.h3 {
  @include size_and_line($f3, rem);
}

h4,.h4,
p,.p, /* 1 */
dl,ol,ul {
  @include size_and_line($f4, rem);
}

h5,.h5 {
  @include size_and_line($f5, rem);
}

h6,.h6 {
  @include size_and_line($f6, rem);
}

p,.p {
  &:last-of-type:not([class^="mb"]){ /* 2 */
    margin-bottom: 0;
  }
}

.f-xl {
  @include size_and_line($f-xl, rem);
}

.f-lg {
  @include size_and_line($f-lg, rem);
}

.f-sm {
  @include size_and_line($f-sm, rem);
}

.f-xs {
  @include size_and_line($f-xs, rem);
}


/**
* Font size placeholders
*
* @extend these placeholders in modules to get a specific font size
*/

%f1 { @include size_and_line($f1, rem); }
%f2 { @include size_and_line($f2, rem); }
%f3 { @include size_and_line($f3, rem); }
%f4 { @include size_and_line($f4, rem); }
%f5 { @include size_and_line($f5, rem); }
%f6 { @include size_and_line($f6, rem); }


/* Helper classes
   ========================================================================== */

/**
* 1. To keep vertical rhythm, hr uses font-size-base as a height (including
*    1px for the border.
*/

small,
.small {
  font-size: $small-size#{$small-size-unit};
}

%text-muted,
.text-muted {
  color: $text-muted-color;
}

.text-l { text-align: left   !important; }
.text-c { text-align: center !important; }
.text-r { text-align: right  !important; }

%light,
.light { font-weight: $font-weight-light; }

%hr,
hr,
.hr {
  border: none;
  border-bottom: 1px solid $hr-color;
  height: ($font-size-base - 1); /* 1 */
  margin-top: 0;
  margin-bottom: 1rem;
}

.line1 { line-height: 1rem; }
.line2 { line-height: 2rem; }
.line3 { line-height: 3rem; }
.line4 { line-height: 4rem; }


/* Responsive text
   ========================================================================== */

/**
* .h1, .h2, .h3, .h4, and .p classes can react responsively to change the
* font-size at breakpoints. This will scale down font sizes for smaller
* devices for better readability.
*/

@include at-breakpoint(ltmd) {
  .f-xl  {
    @include size_and_line(($f-xl - 2), rem);
  }
  .f-lg  {
    @include size_and_line(($f-lg - 2), rem);
  }
  .h1  {
    @include size_and_line(($f1 - 1), rem);
  }
  .h2 {
    @include size_and_line(($f2 - 1), rem);
  }
  .h3 {
    @include size_and_line(($f3 - 1), rem);
  }
}

@include at-breakpoint(ltsm) {
  .f-lg, .f-xl {
    @include size_and_line(($f-lg - 3), rem);
  }
  .h1 {
    @include size_and_line(($f1 - 2), rem);
  }
  .h2 {
    @include size_and_line(($f2 - 2), rem);
  }
  .h3, .p, .h4 {
    @include size_and_line(($f3 - 2), rem);
  }
}


/**
* Some utility classes for forcing the alignment of text responsively.
* A basic example is using centered text for impact at a larger scale. This
* may not visually work as well on a small screen, so we would include a
* class that would align the text to the left.
*
* <h1 class="h1 text-c text-l-xs">
*   This Heading will Align Center by Default, and Left on xs Screens
* </h1>
*/

@include at_breakpoint(xs) {
  .text-l-xs { text-align: left   !important; float: none !important; }
  .text-c-xs { text-align: center !important; float: none !important; }
  .text-r-xs { text-align: right  !important; float: none !important; }
}