- table_class  ||= ""
%table{class:"table #{table_class}"}
  %colgroup
    %col
    %col
    %col
    %col
    %col
  %thead
    %tr
      %th
      %th Table Header 1
      %th Table Header 2
      %th Table Header 3
      %th Table Header 4
  %tfoot
    %tr
      %td Footer 0
      %td Footer 1
      %td Footer 2
      %td Footer 3
      %td Footer 4
  %tbody
    %tr
      %th Row header 1
      %td Division 1
      %td Division 2
      %td Division 3
      %td Division 4
    %tr
      %th Row header 2
      %td Division 1
      %td Division 2
      %td Division 3
      %td Division 4
    %tr
      %th Row header 3
      %td Division 1
      %td Division 2
      %td Division 3
      %td Division 4
    %tr
      %th Row header 4
      %td Division 1
      %td Division 2
      %td Division 3
      %td Division 4