!!!
%html
  = render "layouts/shared/head"
  %body
    = render "layouts/shared/nav"
    %aside.pos-fix.pos-b.pos-r.z10.p1.skin-gray-soft.fl-r.trans-on-hover.js-site-help
      = render "layouts/shared/site_helper"
    = yield